sam.dtd

<!-- ============================================================= -->
<!--  MODULE:    Scribe Abbreviated Markup (Sam)                   -->
<!--  VERSION:   1.1.0                                             -->
<!--  DATE:      October 2014                                      -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
Version  Reason/Occasion                    (who)        m.m.p (yymmdd)  
1        Created as distinct from ScML.      dcorrigan   1.0.0  140401
         For generating flat, "convenience"  cchimi
         XML. Consists of tables, paragraph-
         level elements, inline-level elements,
         and the root. Only paragraph-level
         elements and tables are valid
         children of the root.
2        Adding "lang" as global attr.       dcorrigan   1.0.1  140729
3        Added "idref" attr to xref.         dcorrigan   1.1.0  141001
         Added "a" as sam element.
         Added footnote and endnote
         as valid structure tags.
       
-->

<!-- ============================================================ -->
<!--                     Entity Declarations                      -->
<!-- ============================================================ -->

  <!ENTITY % coreattrs
    "id        ID      #IMPLIED
    type      CDATA   #IMPLIED
    semantic  CDATA   #IMPLIED
    lang      CDATA   #IMPLIED"
  >

  <!ENTITY % block_styles
  "endnote
  | footnote
  | table">

  <!ENTITY % paragraph_styles
  "ah
  | ahaft
  | ans
  | ansf
  | ard
  | au
  | au1
  | aubio
  | aubiof
  | audio
  | bh
  | bhaft
  | bk
  | bk1
  | bk2
  | bkau
  | bkau1
  | bkht
  | bkpub
  | bkpub1
  | bksect
  | bl
  | bl1
  | bl1f
  | bl1l
  | bl1p
  | bl1pl
  | bl1s
  | blf
  | blh
  | bll
  | blp
  | blpl
  | bls
  | bq
  | bq1
  | bq1f
  | bq1l
  | bq1s
  | bqaft
  | bqf
  | bqh
  | bql
  | bqnl
  | bqnlf
  | bqnll
  | bqnls
  | bqo
  | bqs
  | bqt
  | bqul
  | bqulf
  | bqull
  | bquls
  | bx
  | bx1
  | bx1aft
  | bx1ah
  | bx1bh
  | bx1bq
  | bx1bqf
  | bx1bql
  | bx1bqs
  | bx1con
  | bx1f
  | bx1h
  | bx1l
  | bx1nl
  | bx1nlf
  | bx1nll
  | bx1nlp
  | bx1s
  | bx1sl
  | bx1slf
  | bx1sll
  | bx1t
  | bx1ul
  | bx1ulf
  | bx1ull
  | bx1ulp
  | bxaft
  | bxah
  | bxau
  | bxau1
  | bxbh
  | bxbq
  | bxbqf
  | bxbql
  | bxbqs
  | bxcon
  | bxf
  | bxh
  | bxl
  | bxnl
  | bxnlf
  | bxnll
  | bxnlp
  | bxnls
  | bxo
  | bxs
  | bxsl
  | bxslf
  | bxsll
  | bxt
  | bxul
  | bxulf
  | bxull
  | bxulp
  | bxuls
  | call
  | ch
  | chaft
  | chsect
  | chsubsect
  | cip
  | cip1
  | cip2
  | cipf
  | cipf1
  | cipl
  | cl
  | cl1
  | cl1f
  | cl1l
  | cl1s
  | cl2
  | cl2f
  | cl2l
  | cl2s
  | cl3
  | cl3f
  | cl3l
  | cl3s
  | clf
  | cll
  | cls
  | cn
  | com
  | crt
  | crt1
  | crt1f
  | crt2
  | crt3
  | crtf
  | cs
  | ct
  | ctbm
  | ctfm
  | ctoc
  | ctoc1
  | ctoch
  | ded
  | ded1
  | ded1f
  | dedf
  | dh
  | dhaft
  | dia
  | diaf
  | dial
  | diap
  | diapl
  | dias
  | dl
  | dl1
  | dt
  | dtsub
  | eds
  | eh
  | ehaft
  | en
  | end
  | enhn
  | enp
  | ep
  | ep1
  | ep2
  | epaft
  | epf
  | epl
  | eps
  | epsl
  | epsl1
  | epslf
  | ept
  | ept1
  | eq
  | eqaft
  | ex
  | exaft
  | exah
  | exbh
  | exf
  | exh
  | exl
  | exnl
  | exnl1
  | exnl1f
  | exnl1l
  | exnl1p
  | exnl1s
  | exnlf
  | exnll
  | exnlp
  | exnls
  | exs
  | exul
  | exul1
  | exul1f
  | exul1l
  | exul1p
  | exul1s
  | exulf
  | exull
  | exulp
  | exuls
  | fig
  | figatr
  | figcap
  | figcap1
  | figh
  | figh1
  | fign
  | fn
  | fnp
  | fs
  | glo
  | glof
  | hb
  | hd
  | in
  | in1
  | in2
  | in3
  | inf
  | inh
  | inh1
  | inhn
  | lo
  | lps
  | lt
  | lta
  | ltaf
  | ltc
  | ltd
  | ltdf
  | ltf
  | ltg
  | ltl
  | lto
  | lts
  | ltsig
  | ltsigf
  | ltsigl
  | mediah
  | mediacap
  | mediaatr
  | nl
  | nl1
  | nl1f
  | nl1l
  | nl1p
  | nl1pl
  | nl1s
  | nl2
  | nl2f
  | nl2l
  | nl2p
  | nl2s
  | nl3
  | nl3f
  | nl3l
  | nl3p
  | nl3s
  | nl4
  | nl4f
  | nl4l
  | nl4p
  | nl4s
  | nl5
  | nl5f
  | nl5l
  | nl5p
  | nl5s
  | nlf
  | nlh
  | nll
  | nlp
  | nlpl
  | nls
  | ntbq
  | ntbqf
  | ntbql
  | ntbqs
  | ntcon
  | nteq
  | ntnl
  | ntnlf
  | ntnll
  | ntsl
  | ntslf
  | ntsll
  | nttd
  | ntul
  | ntulf
  | ntull
  | opt
  | p
  | paft
  | patr
  | patr1
  | pcon
  | pcust1
  | pcust2
  | pcust3
  | pf
  | pn
  | ps
  | psec
  | psec1
  | pt
  | qu
  | quf
  | quh
  | quot
  | quotf
  | quotl
  | quots
  | quott
  | rb
  | rbc
  | rbi
  | rf
  | rf1
  | rf2
  | rp
  | rp1
  | rp1f
  | rp1l
  | rp1y
  | rpah
  | rpbh
  | rpch
  | rpf
  | rpg
  | rpg1
  | rph
  | rph1
  | rphn
  | rpil
  | rpil1
  | rpil1f
  | rpil1l
  | rpil1s
  | rpilf
  | rpill
  | rpils
  | rpl
  | rpn
  | rpn1
  | rpnut
  | rpnut1
  | rpt
  | rpt1
  | rpv
  | rpv1
  | rpv1f
  | rpv1h
  | rpv1l
  | rpvf
  | rpvh
  | rpvl
  | rpy
  | rv
  | rvd
  | rvh
  | rvt
  | sb
  | sb1
  | sb1f
  | sb1h
  | sb1l
  | sb1t
  | sbaft
  | sbah
  | sbahaft
  | sbbh
  | sbbhaft
  | sbbq
  | sbbqaft
  | sbbqf
  | sbbql
  | sbbqs
  | sbcon
  | sbf
  | sbh
  | sbl
  | sbnl
  | sbnl1
  | sbnl1f
  | sbnl1l
  | sbnl1p
  | sbnl1s
  | sbnl2
  | sbnl2f
  | sbnl2l
  | sbnl2p
  | sbnl2s
  | sbnl3
  | sbnl3f
  | sbnl3l
  | sbnl4
  | sbnl4f
  | sbnl4l
  | sbnl5
  | sbnl5f
  | sbnl5l
  | sbnlf
  | sbnll
  | sbnlp
  | sbnls
  | sbo
  | sbs
  | sbsl
  | sbsl1
  | sbsl1f
  | sbsl1l
  | sbsl1s
  | sbsl2
  | sbsl2f
  | sbsl2l
  | sbsl2s
  | sbsl3
  | sbsl3f
  | sbsl3l
  | sbsl3s
  | sbslf
  | sbsli
  | sbslif
  | sbslil
  | sbsll
  | sbsls
  | sbslt
  | sbt
  | sbul
  | sbul1
  | sbul1f
  | sbul1l
  | sbul1p
  | sbul1s
  | sbul2
  | sbul2f
  | sbul2l
  | sbul2p
  | sbul2s
  | sbulf
  | sbull
  | sbulp
  | sbuls
  | sec
  | secbot
  | sectop
  | ser
  | ser1
  | ser2
  | seraft
  | serah
  | serahaft
  | serau
  | serbh
  | serf
  | serp
  | serpf
  | sers
  | sert
  | sh
  | sl
  | sl1
  | sl1f
  | sl1l
  | sl2
  | sl2f
  | sl2l
  | sl3
  | sl3f
  | sl3l
  | sl4
  | sl4f
  | sl4l
  | sl5
  | sl5f
  | sl5l
  | sl6
  | sl6f
  | sl6l
  | sl7
  | sl7f
  | sl7l
  | sl8
  | sl8f
  | sl8l
  | sl9
  | sl9f
  | sl9l
  | slf
  | slh
  | sli
  | slif
  | slil
  | sll
  | sls
  | slt
  | st
  | stf
  | sth
  | sth1
  | sth2
  | stl
  | structure
  | sts
  | tatr
  | tch
  | tch1
  | tch2
  | td
  | tdf
  | tdl
  | tdnl
  | tdp
  | tdul
  | th
  | th1
  | th2
  | tn
  | toc
  | toc1
  | toc2
  | toc3
  | toc4
  | toc5
  | tocau
  | tocbm
  | tocbmf
  | tocf
  | tocfm
  | tocfmf
  | tocpt
  | tocut
  | tsecbot
  | tsectop
  | ul
  | ul1
  | ul1f
  | ul1l
  | ul1p
  | ul1pl
  | ul1s
  | ul2
  | ul2f
  | ul2l
  | ul2p
  | ul2s
  | ul3
  | ul3f
  | ul3l
  | ul3p
  | ul3s
  | ul4
  | ul4f
  | ul4l
  | ul4p
  | ul4s
  | ul5
  | ul5f
  | ul5l
  | ul5p
  | ul5s
  | ulf
  | ulh
  | ull
  | ulp
  | ulpl
  | uls
  | un
  | us
  | ut
  | video
  | wl
  | wl1
  | wl1f
  | wl1h
  | wl1h1
  | wl1l
  | wl1s
  | wl2
  | wl2f
  | wl2h
  | wl2h1
  | wl2l
  | wl2s
  | wl3
  | wl3f
  | wl3h
  | wl3h1
  | wl3l
  | wl3s
  | wlf
  | wlh
  | wlh1
  | wll
  | wls
  | wsh">

  <!ENTITY % character_styles
  "a
  | abbr
  | ac
  | b
  | bcv
  | bi
  | ccust1
  | ccust2
  | ccust3
  | chemb
  | code
  | code-b
  | code-bi
  | code-i
  | dcrit
  | dcrit-b
  | dcrit-bi
  | dcrit-i
  | dcrit-ob
  | dcrit-red
  | dispk
  | dispk-i
  | dropcap
  | dropcap-i
  | ennum
  | enref
  | fighn
  | first
  | first-i
  | fnnum
  | fnref
  | frac
  | frac-b
  | frac-bi
  | frac-i
  | grc
  | grc-b
  | grc-bi
  | grc-i
  | grc-u
  | gt
  | gt-i
  | gt-sm
  | gtref
  | heb
  | heb-b
  | heb-bi
  | heb-i
  | heb-u
  | hemb
  | gtref-i
  | gtref-sm
  | i
  | idx
  | img
  | iu
  | l-chi
  | l-chi-b
  | l-chi-bi
  | l-chi-i
  | l-fre
  | l-fre-b
  | l-fre-bi
  | l-fre-i
  | l-ger
  | l-ger-b
  | l-ger-bi
  | l-ger-i
  | l-ita
  | l-ita-b
  | l-ita-bi
  | l-ita-i
  | l-jpn
  | l-jpn-b
  | l-jpn-bi
  | l-jpn-i
  | l-kor
  | l-kor-b
  | l-kor-bi
  | l-kor-i
  | l-lat
  | l-lat-b
  | l-lat-bi
  | l-lat-i
  | l-rus
  | l-rus-b
  | l-rus-bi
  | l-rus-i
  | l-spa
  | l-spa-b
  | l-spa-bi
  | l-spa-i
  | lang
  | lang-b
  | lang-bi
  | lang-i
  | med
  | ob
  | osf
  | osf-b
  | osf-bi
  | osf-i
  | page
  | pnum
  | rc
  | red
  | red-b
  | red-i
  | red-ob
  | red-sm
  | red-sm-i
  | red-sm-ob
  | sm
  | sm-b
  | sm-bi
  | sm-i
  | sm-ob
  | smver
  | speaker
  | speaker-i
  | strk
  | sub
  | sub-b
  | sub-bi
  | sub-i
  | sub-u
  | sup
  | sup-b
  | sup-bi
  | sup-i
  | sup-u
  | symb
  | symb-b
  | symb-i
  | symb-sub
  | symb-sub-b
  | symb-sub-bi
  | symb-sub-i
  | symb-sup
  | symb-sup-b
  | symb-sup-bi
  | symb-sup-i
  | taxclass
  | taxfamily
  | taxgenus
  | taxkingdom
  | taxorder
  | taxphylum
  | taxspecies
  | tel
  | tetr
  | tetr-b
  | tetr-i
  | tetr-ob
  | tetr-red
  | tetr-red-i
  | tetr-red-ob
  | tgrc
  | tgrc-b
  | tgrc-bi
  | tgrc-i
  | theb
  | theb-i
  | theb-ob
  | theb-red
  | thn
  | trh
  | trh-i
  | u
  | url
  | ver
  | xbk
  | xbr
  | xref
  | xref-i">
<!-- ============================================================ -->
<!--                             Root                             -->
<!-- ============================================================ -->

  <!ELEMENT sam (%paragraph_styles; | table | footnote | endnote)+ >
  <!ATTLIST sam
    %coreattrs;
    bver  CDATA  #IMPLIED
  >

<!-- ============================================================ -->
<!--                         Block Styles                         -->
<!-- ============================================================ -->

  <!ELEMENT endnote (%paragraph_styles;)* >
  <!ATTLIST endnote
    %coreattrs;
  >

  <!ELEMENT footnote (%paragraph_styles;)* >
  <!ATTLIST footnote
    %coreattrs;
  >

<!-- ============================================================ -->
<!--                 Specialized Structure Styles                 -->
<!-- ============================================================ -->

  <!ELEMENT table ( tr+ ) >
  <!ATTLIST table
    %coreattrs;
    width  CDATA  #IMPLIED
    style  CDATA  #IMPLIED
    border  CDATA  #IMPLIED
    orient  CDATA  #IMPLIED
  >

  <!ELEMENT tr ( cell+ ) >
  <!ATTLIST tr
    %coreattrs;
    align  CDATA  #IMPLIED
    valign  CDATA  #IMPLIED
  >

  <!ELEMENT cell (%paragraph_styles;)* >
  <!ATTLIST cell
    %coreattrs;
    colspan  CDATA  #IMPLIED
    rowspan  CDATA  #IMPLIED
    align  CDATA  #IMPLIED
  >

<!-- ============================================================ -->
<!--                       Paragraph Styles                       -->
<!-- ============================================================ -->

  <!ELEMENT ah ( #PCDATA | %character_styles; )* >
  <!ATTLIST ah
    %coreattrs;
  >

  <!ELEMENT ahaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST ahaft
    %coreattrs;
  >

  <!ELEMENT ans ( #PCDATA | %character_styles; )* >
  <!ATTLIST ans
    %coreattrs;
  >

  <!ELEMENT ansf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ansf
    %coreattrs;
  >

  <!ELEMENT ard ( #PCDATA | %character_styles; )* >
  <!ATTLIST ard
    %coreattrs;
  >

  <!ELEMENT au ( #PCDATA | %character_styles; )* >
  <!ATTLIST au
    %coreattrs;
  >

  <!ELEMENT au1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST au1
    %coreattrs;
  >

  <!ELEMENT aubio ( #PCDATA | %character_styles; )* >
  <!ATTLIST aubio
    %coreattrs;
  >

  <!ELEMENT aubiof ( #PCDATA | %character_styles; )* >
  <!ATTLIST aubiof
    %coreattrs;
  >

  <!ELEMENT audio ( #PCDATA | %character_styles; )* >
  <!ATTLIST audio
    %coreattrs;
  >

  <!ELEMENT bh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bh
    %coreattrs;
  >

  <!ELEMENT bhaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST bhaft
    %coreattrs;
  >

  <!ELEMENT bk ( #PCDATA | %character_styles; )* >
  <!ATTLIST bk
    %coreattrs;
  >

  <!ELEMENT bk1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bk1
    %coreattrs;
  >

  <!ELEMENT bk2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bk2
    %coreattrs;
  >

  <!ELEMENT bkau ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkau
    %coreattrs;
  >

  <!ELEMENT bkau1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkau1
    %coreattrs;
  >

  <!ELEMENT bkht ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkht
    %coreattrs;
  >

  <!ELEMENT bkpub ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkpub
    %coreattrs;
  >

  <!ELEMENT bkpub1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkpub1
    %coreattrs;
  >

  <!ELEMENT bksect ( #PCDATA | %character_styles; )* >
  <!ATTLIST bksect
    %coreattrs;
  >

  <!ELEMENT bl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl
    %coreattrs;
  >

  <!ELEMENT bl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1
    %coreattrs;
  >

  <!ELEMENT bl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1f
    %coreattrs;
  >

  <!ELEMENT bl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1l
    %coreattrs;
  >

  <!ELEMENT bl1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1p
    %coreattrs;
  >

  <!ELEMENT bl1pl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1pl
    %coreattrs;
  >

  <!ELEMENT bl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1s
    %coreattrs;
  >

  <!ELEMENT blf ( #PCDATA | %character_styles; )* >
  <!ATTLIST blf
    %coreattrs;
  >

  <!ELEMENT blh ( #PCDATA | %character_styles; )* >
  <!ATTLIST blh
    %coreattrs;
  >

  <!ELEMENT bll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bll
    %coreattrs;
  >

  <!ELEMENT blp ( #PCDATA | %character_styles; )* >
  <!ATTLIST blp
    %coreattrs;
  >

  <!ELEMENT blpl ( #PCDATA | %character_styles; )* >
  <!ATTLIST blpl
    %coreattrs;
  >

  <!ELEMENT bls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bls
    %coreattrs;
  >

  <!ELEMENT bq ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq
    %coreattrs;
  >

  <!ELEMENT bq1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq1
    %coreattrs;
  >

  <!ELEMENT bq1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq1f
    %coreattrs;
  >

  <!ELEMENT bq1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq1l
    %coreattrs;
  >

  <!ELEMENT bq1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq1s
    %coreattrs;
  >

  <!ELEMENT bqaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqaft
    %coreattrs;
  >

  <!ELEMENT bqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqf
    %coreattrs;
  >

  <!ELEMENT bqh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqh
    %coreattrs;
  >

  <!ELEMENT bql ( #PCDATA | %character_styles; )* >
  <!ATTLIST bql
    %coreattrs;
  >

  <!ELEMENT bqnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqnl
    %coreattrs;
  >

  <!ELEMENT bqnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqnlf
    %coreattrs;
  >

  <!ELEMENT bqnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqnll
    %coreattrs;
  >

  <!ELEMENT bqnls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqnls
    %coreattrs;
  >

  <!ELEMENT bqo ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqo
    %coreattrs;
  >

  <!ELEMENT bqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqs
    %coreattrs;
  >

  <!ELEMENT bqt ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqt
    %coreattrs;
  >

  <!ELEMENT bqul ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqul
    %coreattrs;
  >

  <!ELEMENT bqulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqulf
    %coreattrs;
  >

  <!ELEMENT bqull ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqull
    %coreattrs;
  >

  <!ELEMENT bquls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bquls
    %coreattrs;
  >

  <!ELEMENT bx ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx
    %coreattrs;
  >

  <!ELEMENT bx1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1
    %coreattrs;
  >

  <!ELEMENT bx1aft ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1aft
    %coreattrs;
  >

  <!ELEMENT bx1ah ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ah
    %coreattrs;
  >

  <!ELEMENT bx1bh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bh
    %coreattrs;
  >

  <!ELEMENT bx1bq ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bq
    %coreattrs;
  >

  <!ELEMENT bx1bqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bqf
    %coreattrs;
  >

  <!ELEMENT bx1bql ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bql
    %coreattrs;
  >

  <!ELEMENT bx1bqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bqs
    %coreattrs;
  >

  <!ELEMENT bx1con ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1con
    %coreattrs;
  >

  <!ELEMENT bx1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1f
    %coreattrs;
  >

  <!ELEMENT bx1h ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1h
    %coreattrs;
  >

  <!ELEMENT bx1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1l
    %coreattrs;
  >

  <!ELEMENT bx1nl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1nl
    %coreattrs;
  >

  <!ELEMENT bx1nlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1nlf
    %coreattrs;
  >

  <!ELEMENT bx1nll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1nll
    %coreattrs;
  >

  <!ELEMENT bx1nlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1nlp
    %coreattrs;
  >

  <!ELEMENT bx1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1s
    %coreattrs;
  >

  <!ELEMENT bx1sl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1sl
    %coreattrs;
  >

  <!ELEMENT bx1slf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1slf
    %coreattrs;
  >

  <!ELEMENT bx1sll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1sll
    %coreattrs;
  >

  <!ELEMENT bx1t ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1t
    %coreattrs;
  >

  <!ELEMENT bx1ul ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ul
    %coreattrs;
  >

  <!ELEMENT bx1ulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ulf
    %coreattrs;
  >

  <!ELEMENT bx1ull ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ull
    %coreattrs;
  >

  <!ELEMENT bx1ulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ulp
    %coreattrs;
  >

  <!ELEMENT bxaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxaft
    %coreattrs;
  >

  <!ELEMENT bxah ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxah
    %coreattrs;
  >

  <!ELEMENT bxau ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxau
    %coreattrs;
  >

  <!ELEMENT bxau1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxau1
    %coreattrs;
  >

  <!ELEMENT bxbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbh
    %coreattrs;
  >

  <!ELEMENT bxbq ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbq
    %coreattrs;
  >

  <!ELEMENT bxbqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbqf
    %coreattrs;
  >

  <!ELEMENT bxbql ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbql
    %coreattrs;
  >

  <!ELEMENT bxbqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbqs
    %coreattrs;
  >

  <!ELEMENT bxcon ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxcon
    %coreattrs;
  >

  <!ELEMENT bxf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxf
    %coreattrs;
  >

  <!ELEMENT bxh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxh
    %coreattrs;
  >

  <!ELEMENT bxl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxl
    %coreattrs;
  >

  <!ELEMENT bxnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnl
    %coreattrs;
  >

  <!ELEMENT bxnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnlf
    %coreattrs;
  >

  <!ELEMENT bxnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnll
    %coreattrs;
  >

  <!ELEMENT bxnlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnlp
    %coreattrs;
  >

  <!ELEMENT bxnls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnls
    %coreattrs;
  >

  <!ELEMENT bxo ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxo
    %coreattrs;
  >

  <!ELEMENT bxs ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxs
    %coreattrs;
  >

  <!ELEMENT bxsl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxsl
    %coreattrs;
  >

  <!ELEMENT bxslf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxslf
    %coreattrs;
  >

  <!ELEMENT bxsll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxsll
    %coreattrs;
  >

  <!ELEMENT bxt ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxt
    %coreattrs;
  >

  <!ELEMENT bxul ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxul
    %coreattrs;
  >

  <!ELEMENT bxulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxulf
    %coreattrs;
  >

  <!ELEMENT bxull ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxull
    %coreattrs;
  >

  <!ELEMENT bxulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxulp
    %coreattrs;
  >

  <!ELEMENT bxuls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxuls
    %coreattrs;
  >

  <!ELEMENT call ( #PCDATA | %character_styles; )* >
  <!ATTLIST call
    %coreattrs;
  >

  <!ELEMENT ch ( #PCDATA | %character_styles; )* >
  <!ATTLIST ch
    %coreattrs;
  >

  <!ELEMENT chaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST chaft
    %coreattrs;
  >

  <!ELEMENT chsect ( #PCDATA | %character_styles; )* >
  <!ATTLIST chsect
    %coreattrs;
  >

  <!ELEMENT chsubsect ( #PCDATA | %character_styles; )* >
  <!ATTLIST chsubsect
    %coreattrs;
  >

  <!ELEMENT cip ( #PCDATA | %character_styles; )* >
  <!ATTLIST cip
    %coreattrs;
  >

  <!ELEMENT cip1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cip1
    %coreattrs;
  >

  <!ELEMENT cip2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cip2
    %coreattrs;
  >

  <!ELEMENT cipf ( #PCDATA | %character_styles; )* >
  <!ATTLIST cipf
    %coreattrs;
  >

  <!ELEMENT cipf1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cipf1
    %coreattrs;
  >

  <!ELEMENT cipl ( #PCDATA | %character_styles; )* >
  <!ATTLIST cipl
    %coreattrs;
  >

  <!ELEMENT cl ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl
    %coreattrs;
  >

  <!ELEMENT cl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl1
    %coreattrs;
  >

  <!ELEMENT cl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl1f
    %coreattrs;
  >

  <!ELEMENT cl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl1l
    %coreattrs;
  >

  <!ELEMENT cl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl1s
    %coreattrs;
  >

  <!ELEMENT cl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl2
    %coreattrs;
  >

  <!ELEMENT cl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl2f
    %coreattrs;
  >

  <!ELEMENT cl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl2l
    %coreattrs;
  >

  <!ELEMENT cl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl2s
    %coreattrs;
  >

  <!ELEMENT cl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl3
    %coreattrs;
  >

  <!ELEMENT cl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl3f
    %coreattrs;
  >

  <!ELEMENT cl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl3l
    %coreattrs;
  >

  <!ELEMENT cl3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl3s
    %coreattrs;
  >

  <!ELEMENT clf ( #PCDATA | %character_styles; )* >
  <!ATTLIST clf
    %coreattrs;
  >

  <!ELEMENT cll ( #PCDATA | %character_styles; )* >
  <!ATTLIST cll
    %coreattrs;
  >

  <!ELEMENT cls ( #PCDATA | %character_styles; )* >
  <!ATTLIST cls
    %coreattrs;
  >

  <!ELEMENT cn ( #PCDATA | %character_styles; )* >
  <!ATTLIST cn
    %coreattrs;
  >

  <!ELEMENT com ( #PCDATA | %character_styles; )* >
  <!ATTLIST com
    %coreattrs;
  >

  <!ELEMENT crt ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt
    %coreattrs;
  >

  <!ELEMENT crt1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt1
    %coreattrs;
  >

  <!ELEMENT crt1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt1f
    %coreattrs;
  >

  <!ELEMENT crt2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt2
    %coreattrs;
  >

  <!ELEMENT crt3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt3
    %coreattrs;
  >

  <!ELEMENT crtf ( #PCDATA | %character_styles; )* >
  <!ATTLIST crtf
    %coreattrs;
  >

  <!ELEMENT cs ( #PCDATA | %character_styles; )* >
  <!ATTLIST cs
    %coreattrs;
  >

  <!ELEMENT ct ( #PCDATA | %character_styles; )* >
  <!ATTLIST ct
    %coreattrs;
  >

  <!ELEMENT ctbm ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctbm
    %coreattrs;
  >

  <!ELEMENT ctfm ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctfm
    %coreattrs;
  >

  <!ELEMENT ctoc ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctoc
    %coreattrs;
  >

  <!ELEMENT ctoc1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctoc1
    %coreattrs;
  >

  <!ELEMENT ctoch ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctoch
    %coreattrs;
  >

  <!ELEMENT ded ( #PCDATA | %character_styles; )* >
  <!ATTLIST ded
    %coreattrs;
  >

  <!ELEMENT ded1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ded1
    %coreattrs;
  >

  <!ELEMENT ded1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ded1f
    %coreattrs;
  >

  <!ELEMENT dedf ( #PCDATA | %character_styles; )* >
  <!ATTLIST dedf
    %coreattrs;
  >

  <!ELEMENT dh ( #PCDATA | %character_styles; )* >
  <!ATTLIST dh
    %coreattrs;
  >

  <!ELEMENT dhaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST dhaft
    %coreattrs;
  >

  <!ELEMENT dia ( #PCDATA | %character_styles; )* >
  <!ATTLIST dia
    %coreattrs;
  >

  <!ELEMENT diaf ( #PCDATA | %character_styles; )* >
  <!ATTLIST diaf
    %coreattrs;
  >

  <!ELEMENT dial ( #PCDATA | %character_styles; )* >
  <!ATTLIST dial
    %coreattrs;
  >

  <!ELEMENT diap ( #PCDATA | %character_styles; )* >
  <!ATTLIST diap
    %coreattrs;
  >

  <!ELEMENT diapl ( #PCDATA | %character_styles; )* >
  <!ATTLIST diapl
    %coreattrs;
  >

  <!ELEMENT dias ( #PCDATA | %character_styles; )* >
  <!ATTLIST dias
    %coreattrs;
  >

  <!ELEMENT dl ( #PCDATA | %character_styles; )* >
  <!ATTLIST dl
    %coreattrs;
  >

  <!ELEMENT dl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST dl1
    %coreattrs;
  >

  <!ELEMENT dt ( #PCDATA | %character_styles; )* >
  <!ATTLIST dt
    %coreattrs;
  >

  <!ELEMENT dtsub ( #PCDATA | %character_styles; )* >
  <!ATTLIST dtsub
    %coreattrs;
  >

  <!ELEMENT eds ( #PCDATA | %character_styles; )* >
  <!ATTLIST eds
    %coreattrs;
  >

  <!ELEMENT eh ( #PCDATA | %character_styles; )* >
  <!ATTLIST eh
    %coreattrs;
  >

  <!ELEMENT ehaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST ehaft
    %coreattrs;
  >

  <!ELEMENT en ( #PCDATA | %character_styles; )* >
  <!ATTLIST en
    %coreattrs;
  >

  <!ELEMENT end ( #PCDATA | %character_styles; )* >
  <!ATTLIST end
    %coreattrs;
  >

  <!ELEMENT enhn ( #PCDATA | %character_styles; )* >
  <!ATTLIST enhn
    %coreattrs;
  >

  <!ELEMENT enp ( #PCDATA | %character_styles; )* >
  <!ATTLIST enp
    %coreattrs;
  >

  <!ELEMENT ep ( #PCDATA | %character_styles; )* >
  <!ATTLIST ep
    %coreattrs;
  >

  <!ELEMENT ep1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ep1
    %coreattrs;
  >

  <!ELEMENT ep2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ep2
    %coreattrs;
  >

  <!ELEMENT epaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST epaft
    %coreattrs;
  >

  <!ELEMENT epf ( #PCDATA | %character_styles; )* >
  <!ATTLIST epf
    %coreattrs;
  >

  <!ELEMENT epl ( #PCDATA | %character_styles; )* >
  <!ATTLIST epl
    %coreattrs;
  >

  <!ELEMENT eps ( #PCDATA | %character_styles; )* >
  <!ATTLIST eps
    %coreattrs;
  >

  <!ELEMENT epsl ( #PCDATA | %character_styles; )* >
  <!ATTLIST epsl
    %coreattrs;
  >

  <!ELEMENT epsl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST epsl1
    %coreattrs;
  >

  <!ELEMENT epslf ( #PCDATA | %character_styles; )* >
  <!ATTLIST epslf
    %coreattrs;
  >

  <!ELEMENT ept ( #PCDATA | %character_styles; )* >
  <!ATTLIST ept
    %coreattrs;
  >

  <!ELEMENT ept1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ept1
    %coreattrs;
  >

  <!ELEMENT eq ( #PCDATA | %character_styles; )* >
  <!ATTLIST eq
    %coreattrs;
  >

  <!ELEMENT eqaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST eqaft
    %coreattrs;
  >

  <!ELEMENT ex ( #PCDATA | %character_styles; )* >
  <!ATTLIST ex
    %coreattrs;
  >

  <!ELEMENT exaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST exaft
    %coreattrs;
  >

  <!ELEMENT exah ( #PCDATA | %character_styles; )* >
  <!ATTLIST exah
    %coreattrs;
  >

  <!ELEMENT exbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST exbh
    %coreattrs;
  >

  <!ELEMENT exf ( #PCDATA | %character_styles; )* >
  <!ATTLIST exf
    %coreattrs;
  >

  <!ELEMENT exh ( #PCDATA | %character_styles; )* >
  <!ATTLIST exh
    %coreattrs;
  >

  <!ELEMENT exl ( #PCDATA | %character_styles; )* >
  <!ATTLIST exl
    %coreattrs;
  >

  <!ELEMENT exnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl
    %coreattrs;
  >

  <!ELEMENT exnl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1
    %coreattrs;
  >

  <!ELEMENT exnl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1f
    %coreattrs;
  >

  <!ELEMENT exnl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1l
    %coreattrs;
  >

  <!ELEMENT exnl1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1p
    %coreattrs;
  >

  <!ELEMENT exnl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1s
    %coreattrs;
  >

  <!ELEMENT exnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnlf
    %coreattrs;
  >

  <!ELEMENT exnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnll
    %coreattrs;
  >

  <!ELEMENT exnlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnlp
    %coreattrs;
  >

  <!ELEMENT exnls ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnls
    %coreattrs;
  >

  <!ELEMENT exs ( #PCDATA | %character_styles; )* >
  <!ATTLIST exs
    %coreattrs;
  >

  <!ELEMENT exul ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul
    %coreattrs;
  >

  <!ELEMENT exul1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1
    %coreattrs;
  >

  <!ELEMENT exul1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1f
    %coreattrs;
  >

  <!ELEMENT exul1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1l
    %coreattrs;
  >

  <!ELEMENT exul1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1p
    %coreattrs;
  >

  <!ELEMENT exul1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1s
    %coreattrs;
  >

  <!ELEMENT exulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST exulf
    %coreattrs;
  >

  <!ELEMENT exull ( #PCDATA | %character_styles; )* >
  <!ATTLIST exull
    %coreattrs;
  >

  <!ELEMENT exulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST exulp
    %coreattrs;
  >

  <!ELEMENT exuls ( #PCDATA | %character_styles; )* >
  <!ATTLIST exuls
    %coreattrs;
  >

  <!ELEMENT fig ( #PCDATA | %character_styles; )* >
  <!ATTLIST fig
    %coreattrs;
  >

  <!ELEMENT figatr ( #PCDATA | %character_styles; )* >
  <!ATTLIST figatr
    %coreattrs;
  >

  <!ELEMENT figcap ( #PCDATA | %character_styles; )* >
  <!ATTLIST figcap
    %coreattrs;
  >

  <!ELEMENT figcap1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST figcap1
    %coreattrs;
  >

  <!ELEMENT figh ( #PCDATA | %character_styles; )* >
  <!ATTLIST figh
    %coreattrs;
  >

  <!ELEMENT figh1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST figh1
    %coreattrs;
  >

  <!ELEMENT fign ( #PCDATA | %character_styles; )* >
  <!ATTLIST fign
    %coreattrs;
  >

  <!ELEMENT fn ( #PCDATA | %character_styles; )* >
  <!ATTLIST fn
    %coreattrs;
  >

  <!ELEMENT fnp ( #PCDATA | %character_styles; )* >
  <!ATTLIST fnp
    %coreattrs;
  >

  <!ELEMENT fs ( #PCDATA | %character_styles; )* >
  <!ATTLIST fs
    %coreattrs;
  >

  <!ELEMENT glo ( #PCDATA | %character_styles; )* >
  <!ATTLIST glo
    %coreattrs;
  >

  <!ELEMENT glof ( #PCDATA | %character_styles; )* >
  <!ATTLIST glof
    %coreattrs;
  >

  <!ELEMENT hb ( #PCDATA | %character_styles; )* >
  <!ATTLIST hb
    %coreattrs;
  >

  <!ELEMENT hd ( #PCDATA | %character_styles; )* >
  <!ATTLIST hd
    %coreattrs;
  >

  <!ELEMENT in ( #PCDATA | %character_styles; )* >
  <!ATTLIST in
    %coreattrs;
  >

  <!ELEMENT in1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST in1
    %coreattrs;
  >

  <!ELEMENT in2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST in2
    %coreattrs;
  >

  <!ELEMENT in3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST in3
    %coreattrs;
  >

  <!ELEMENT inf ( #PCDATA | %character_styles; )* >
  <!ATTLIST inf
    %coreattrs;
  >

  <!ELEMENT inh ( #PCDATA | %character_styles; )* >
  <!ATTLIST inh
    %coreattrs;
  >

  <!ELEMENT inh1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST inh1
    %coreattrs;
  >

  <!ELEMENT inhn ( #PCDATA | %character_styles; )* >
  <!ATTLIST inhn
    %coreattrs;
  >

  <!ELEMENT lo ( #PCDATA | %character_styles; )* >
  <!ATTLIST lo
    %coreattrs;
  >

  <!ELEMENT lps ( #PCDATA | %character_styles; )* >
  <!ATTLIST lps
    %coreattrs;
  >

  <!ELEMENT lt ( #PCDATA | %character_styles; )* >
  <!ATTLIST lt
    %coreattrs;
  >

  <!ELEMENT lta ( #PCDATA | %character_styles; )* >
  <!ATTLIST lta
    %coreattrs;
  >

  <!ELEMENT ltaf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltaf
    %coreattrs;
  >

  <!ELEMENT ltc ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltc
    %coreattrs;
  >

  <!ELEMENT ltd ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltd
    %coreattrs;
  >

  <!ELEMENT ltdf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltdf
    %coreattrs;
  >

  <!ELEMENT ltf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltf
    %coreattrs;
  >

  <!ELEMENT ltg ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltg
    %coreattrs;
  >

  <!ELEMENT ltl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltl
    %coreattrs;
  >

  <!ELEMENT lto ( #PCDATA | %character_styles; )* >
  <!ATTLIST lto
    %coreattrs;
  >

  <!ELEMENT lts ( #PCDATA | %character_styles; )* >
  <!ATTLIST lts
    %coreattrs;
  >

  <!ELEMENT ltsig ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltsig
    %coreattrs;
  >

  <!ELEMENT ltsigf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltsigf
    %coreattrs;
  >

  <!ELEMENT ltsigl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltsigl
    %coreattrs;
  >

  <!ELEMENT mediah ( #PCDATA | %character_styles; )* >
  <!ATTLIST mediah
    %coreattrs;
  >

  <!ELEMENT mediacap ( #PCDATA | %character_styles; )* >
  <!ATTLIST mediacap
    %coreattrs;
  >

  <!ELEMENT mediaatr ( #PCDATA | %character_styles; )* >
  <!ATTLIST mediaatr
    %coreattrs;
  >

  <!ELEMENT nl ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl
    %coreattrs;
  >

  <!ELEMENT nl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1
    %coreattrs;
  >

  <!ELEMENT nl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1f
    %coreattrs;
  >

  <!ELEMENT nl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1l
    %coreattrs;
  >

  <!ELEMENT nl1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1p
    %coreattrs;
  >

  <!ELEMENT nl1pl ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1pl
    %coreattrs;
  >

  <!ELEMENT nl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1s
    %coreattrs;
  >

  <!ELEMENT nl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2
    %coreattrs;
  >

  <!ELEMENT nl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2f
    %coreattrs;
  >

  <!ELEMENT nl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2l
    %coreattrs;
  >

  <!ELEMENT nl2p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2p
    %coreattrs;
  >

  <!ELEMENT nl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2s
    %coreattrs;
  >

  <!ELEMENT nl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3
    %coreattrs;
  >

  <!ELEMENT nl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3f
    %coreattrs;
  >

  <!ELEMENT nl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3l
    %coreattrs;
  >

  <!ELEMENT nl3p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3p
    %coreattrs;
  >

  <!ELEMENT nl3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3s
    %coreattrs;
  >

  <!ELEMENT nl4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4
    %coreattrs;
  >

  <!ELEMENT nl4f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4f
    %coreattrs;
  >

  <!ELEMENT nl4l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4l
    %coreattrs;
  >

  <!ELEMENT nl4p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4p
    %coreattrs;
  >

  <!ELEMENT nl4s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4s
    %coreattrs;
  >

  <!ELEMENT nl5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5
    %coreattrs;
  >

  <!ELEMENT nl5f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5f
    %coreattrs;
  >

  <!ELEMENT nl5l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5l
    %coreattrs;
  >

  <!ELEMENT nl5p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5p
    %coreattrs;
  >

  <!ELEMENT nl5s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5s
    %coreattrs;
  >

  <!ELEMENT nlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST nlf
    %coreattrs;
  >

  <!ELEMENT nlh ( #PCDATA | %character_styles; )* >
  <!ATTLIST nlh
    %coreattrs;
  >

  <!ELEMENT nll ( #PCDATA | %character_styles; )* >
  <!ATTLIST nll
    %coreattrs;
  >

  <!ELEMENT nlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST nlp
    %coreattrs;
  >

  <!ELEMENT nlpl ( #PCDATA | %character_styles; )* >
  <!ATTLIST nlpl
    %coreattrs;
  >

  <!ELEMENT nls ( #PCDATA | %character_styles; )* >
  <!ATTLIST nls
    %coreattrs;
  >

  <!ELEMENT ntbq ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntbq
    %coreattrs;
  >

  <!ELEMENT ntbqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntbqf
    %coreattrs;
  >

  <!ELEMENT ntbql ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntbql
    %coreattrs;
  >

  <!ELEMENT ntbqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntbqs
    %coreattrs;
  >

  <!ELEMENT ntcon ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntcon
    %coreattrs;
  >

  <!ELEMENT nteq ( #PCDATA | %character_styles; )* >
  <!ATTLIST nteq
    %coreattrs;
  >

  <!ELEMENT ntnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnl
    %coreattrs;
  >

  <!ELEMENT ntnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnlf
    %coreattrs;
  >

  <!ELEMENT ntnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnll
    %coreattrs;
  >

  <!ELEMENT ntsl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntsl
    %coreattrs;
  >

  <!ELEMENT ntslf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntslf
    %coreattrs;
  >

  <!ELEMENT ntsll ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntsll
    %coreattrs;
  >

  <!ELEMENT nttd ( #PCDATA | %character_styles; )* >
  <!ATTLIST nttd
    %coreattrs;
  >

  <!ELEMENT ntul ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntul
    %coreattrs;
  >

  <!ELEMENT ntulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntulf
    %coreattrs;
  >

  <!ELEMENT ntull ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntull
    %coreattrs;
  >

  <!ELEMENT opt ( #PCDATA | %character_styles; )* >
  <!ATTLIST opt
    %coreattrs;
  >

  <!ELEMENT p ( #PCDATA | %character_styles; )* >
  <!ATTLIST p
    %coreattrs;
  >

  <!ELEMENT paft ( #PCDATA | %character_styles; )* >
  <!ATTLIST paft
    %coreattrs;
  >

  <!ELEMENT patr ( #PCDATA | %character_styles; )* >
  <!ATTLIST patr
    %coreattrs;
  >

  <!ELEMENT patr1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST patr1
    %coreattrs;
  >

  <!ELEMENT pcon ( #PCDATA | %character_styles; )* >
  <!ATTLIST pcon
    %coreattrs;
  >

  <!ELEMENT pcust1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST pcust1
    %coreattrs;
  >

  <!ELEMENT pcust2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST pcust2
    %coreattrs;
  >

  <!ELEMENT pcust3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST pcust3
    %coreattrs;
  >

  <!ELEMENT pf ( #PCDATA | %character_styles; )* >
  <!ATTLIST pf
    %coreattrs;
  >

  <!ELEMENT pn ( #PCDATA | %character_styles; )* >
  <!ATTLIST pn
    %coreattrs;
  >

  <!ELEMENT ps ( #PCDATA | %character_styles; )* >
  <!ATTLIST ps
    %coreattrs;
  >

  <!ELEMENT psec ( #PCDATA | %character_styles; )* >
  <!ATTLIST psec
    %coreattrs;
  >

  <!ELEMENT psec1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST psec1
    %coreattrs;
  >

  <!ELEMENT pt ( #PCDATA | %character_styles; )* >
  <!ATTLIST pt
    %coreattrs;
  >

  <!ELEMENT qu ( #PCDATA | %character_styles; )* >
  <!ATTLIST qu
    %coreattrs;
  >

  <!ELEMENT quf ( #PCDATA | %character_styles; )* >
  <!ATTLIST quf
    %coreattrs;
  >

  <!ELEMENT quh ( #PCDATA | %character_styles; )* >
  <!ATTLIST quh
    %coreattrs;
  >

  <!ELEMENT quot ( #PCDATA | %character_styles; )* >
  <!ATTLIST quot
    %coreattrs;
  >

  <!ELEMENT quotf ( #PCDATA | %character_styles; )* >
  <!ATTLIST quotf
    %coreattrs;
  >

  <!ELEMENT quotl ( #PCDATA | %character_styles; )* >
  <!ATTLIST quotl
    %coreattrs;
  >

  <!ELEMENT quots ( #PCDATA | %character_styles; )* >
  <!ATTLIST quots
    %coreattrs;
  >

  <!ELEMENT quott ( #PCDATA | %character_styles; )* >
  <!ATTLIST quott
    %coreattrs;
  >

  <!ELEMENT rb ( #PCDATA | %character_styles; )* >
  <!ATTLIST rb
    %coreattrs;
  >

  <!ELEMENT rbc ( #PCDATA | %character_styles; )* >
  <!ATTLIST rbc
    %coreattrs;
  >

  <!ELEMENT rbi ( #PCDATA | %character_styles; )* >
  <!ATTLIST rbi
    %coreattrs;
  >

  <!ELEMENT rf ( #PCDATA | %character_styles; )* >
  <!ATTLIST rf
    %coreattrs;
  >

  <!ELEMENT rf1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rf1
    %coreattrs;
  >

  <!ELEMENT rf2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rf2
    %coreattrs;
  >

  <!ELEMENT rp ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp
    %coreattrs;
  >

  <!ELEMENT rp1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp1
    %coreattrs;
  >

  <!ELEMENT rp1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp1f
    %coreattrs;
  >

  <!ELEMENT rp1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp1l
    %coreattrs;
  >

  <!ELEMENT rp1y ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp1y
    %coreattrs;
  >

  <!ELEMENT rpah ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpah
    %coreattrs;
  >

  <!ELEMENT rpbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpbh
    %coreattrs;
  >

  <!ELEMENT rpch ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpch
    %coreattrs;
  >

  <!ELEMENT rpf ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpf
    %coreattrs;
  >

  <!ELEMENT rpg ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpg
    %coreattrs;
  >

  <!ELEMENT rpg1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpg1
    %coreattrs;
  >

  <!ELEMENT rph ( #PCDATA | %character_styles; )* >
  <!ATTLIST rph
    %coreattrs;
  >

  <!ELEMENT rph1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rph1
    %coreattrs;
  >

  <!ELEMENT rphn ( #PCDATA | %character_styles; )* >
  <!ATTLIST rphn
    %coreattrs;
  >

  <!ELEMENT rpil ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil
    %coreattrs;
  >

  <!ELEMENT rpil1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil1
    %coreattrs;
  >

  <!ELEMENT rpil1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil1f
    %coreattrs;
  >

  <!ELEMENT rpil1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil1l
    %coreattrs;
  >

  <!ELEMENT rpil1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil1s
    %coreattrs;
  >

  <!ELEMENT rpilf ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpilf
    %coreattrs;
  >

  <!ELEMENT rpill ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpill
    %coreattrs;
  >

  <!ELEMENT rpils ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpils
    %coreattrs;
  >

  <!ELEMENT rpl ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpl
    %coreattrs;
  >

  <!ELEMENT rpn ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpn
    %coreattrs;
  >

  <!ELEMENT rpn1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpn1
    %coreattrs;
  >

  <!ELEMENT rpnut ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpnut
    %coreattrs;
  >

  <!ELEMENT rpnut1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpnut1
    %coreattrs;
  >

  <!ELEMENT rpt ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpt
    %coreattrs;
  >

  <!ELEMENT rpt1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpt1
    %coreattrs;
  >

  <!ELEMENT rpv ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv
    %coreattrs;
  >

  <!ELEMENT rpv1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv1
    %coreattrs;
  >

  <!ELEMENT rpv1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv1f
    %coreattrs;
  >

  <!ELEMENT rpv1h ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv1h
    %coreattrs;
  >

  <!ELEMENT rpv1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv1l
    %coreattrs;
  >

  <!ELEMENT rpvf ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpvf
    %coreattrs;
  >

  <!ELEMENT rpvh ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpvh
    %coreattrs;
  >

  <!ELEMENT rpvl ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpvl
    %coreattrs;
  >

  <!ELEMENT rpy ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpy
    %coreattrs;
  >

  <!ELEMENT rv ( #PCDATA | %character_styles; )* >
  <!ATTLIST rv
    %coreattrs;
  >

  <!ELEMENT rvd ( #PCDATA | %character_styles; )* >
  <!ATTLIST rvd
    %coreattrs;
  >

  <!ELEMENT rvh ( #PCDATA | %character_styles; )* >
  <!ATTLIST rvh
    %coreattrs;
  >

  <!ELEMENT rvt ( #PCDATA | %character_styles; )* >
  <!ATTLIST rvt
    %coreattrs;
  >

  <!ELEMENT sb ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb
    %coreattrs;
  >

  <!ELEMENT sb1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1
    %coreattrs;
  >

  <!ELEMENT sb1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1f
    %coreattrs;
  >

  <!ELEMENT sb1h ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1h
    %coreattrs;
  >

  <!ELEMENT sb1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1l
    %coreattrs;
  >

  <!ELEMENT sb1t ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1t
    %coreattrs;
  >

  <!ELEMENT sbaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbaft
    %coreattrs;
  >

  <!ELEMENT sbah ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbah
    %coreattrs;
  >

  <!ELEMENT sbahaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbahaft
    %coreattrs;
  >

  <!ELEMENT sbbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbh
    %coreattrs;
  >

  <!ELEMENT sbbhaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbhaft
    %coreattrs;
  >

  <!ELEMENT sbbq ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbq
    %coreattrs;
  >

  <!ELEMENT sbbqaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbqaft
    %coreattrs;
  >

  <!ELEMENT sbbqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbqf
    %coreattrs;
  >

  <!ELEMENT sbbql ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbql
    %coreattrs;
  >

  <!ELEMENT sbbqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbqs
    %coreattrs;
  >

  <!ELEMENT sbcon ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbcon
    %coreattrs;
  >

  <!ELEMENT sbf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbf
    %coreattrs;
  >

  <!ELEMENT sbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbh
    %coreattrs;
  >

  <!ELEMENT sbl ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbl
    %coreattrs;
  >

  <!ELEMENT sbnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl
    %coreattrs;
  >

  <!ELEMENT sbnl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1
    %coreattrs;
  >

  <!ELEMENT sbnl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1f
    %coreattrs;
  >

  <!ELEMENT sbnl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1l
    %coreattrs;
  >

  <!ELEMENT sbnl1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1p
    %coreattrs;
  >

  <!ELEMENT sbnl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1s
    %coreattrs;
  >

  <!ELEMENT sbnl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2
    %coreattrs;
  >

  <!ELEMENT sbnl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2f
    %coreattrs;
  >

  <!ELEMENT sbnl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2l
    %coreattrs;
  >

  <!ELEMENT sbnl2p ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2p
    %coreattrs;
  >

  <!ELEMENT sbnl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2s
    %coreattrs;
  >

  <!ELEMENT sbnl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl3
    %coreattrs;
  >

  <!ELEMENT sbnl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl3f
    %coreattrs;
  >

  <!ELEMENT sbnl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl3l
    %coreattrs;
  >

  <!ELEMENT sbnl4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl4
    %coreattrs;
  >

  <!ELEMENT sbnl4f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl4f
    %coreattrs;
  >

  <!ELEMENT sbnl4l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl4l
    %coreattrs;
  >

  <!ELEMENT sbnl5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl5
    %coreattrs;
  >

  <!ELEMENT sbnl5f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl5f
    %coreattrs;
  >

  <!ELEMENT sbnl5l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl5l
    %coreattrs;
  >

  <!ELEMENT sbnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnlf
    %coreattrs;
  >

  <!ELEMENT sbnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnll
    %coreattrs;
  >

  <!ELEMENT sbnlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnlp
    %coreattrs;
  >

  <!ELEMENT sbnls ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnls
    %coreattrs;
  >

  <!ELEMENT sbo ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbo
    %coreattrs;
  >

  <!ELEMENT sbs ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbs
    %coreattrs;
  >

  <!ELEMENT sbsl ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl
    %coreattrs;
  >

  <!ELEMENT sbsl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl1
    %coreattrs;
  >

  <!ELEMENT sbsl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl1f
    %coreattrs;
  >

  <!ELEMENT sbsl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl1l
    %coreattrs;
  >

  <!ELEMENT sbsl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl1s
    %coreattrs;
  >

  <!ELEMENT sbsl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl2
    %coreattrs;
  >

  <!ELEMENT sbsl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl2f
    %coreattrs;
  >

  <!ELEMENT sbsl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl2l
    %coreattrs;
  >

  <!ELEMENT sbsl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl2s
    %coreattrs;
  >

  <!ELEMENT sbsl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl3
    %coreattrs;
  >

  <!ELEMENT sbsl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl3f
    %coreattrs;
  >

  <!ELEMENT sbsl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl3l
    %coreattrs;
  >

  <!ELEMENT sbsl3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl3s
    %coreattrs;
  >

  <!ELEMENT sbslf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbslf
    %coreattrs;
  >

  <!ELEMENT sbsli ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsli
    %coreattrs;
  >

  <!ELEMENT sbslif ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbslif
    %coreattrs;
  >

  <!ELEMENT sbslil ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbslil
    %coreattrs;
  >

  <!ELEMENT sbsll ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsll
    %coreattrs;
  >

  <!ELEMENT sbsls ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsls
    %coreattrs;
  >

  <!ELEMENT sbslt ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbslt
    %coreattrs;
  >

  <!ELEMENT sbt ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbt
    %coreattrs;
  >

  <!ELEMENT sbul ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul
    %coreattrs;
  >

  <!ELEMENT sbul1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1
    %coreattrs;
  >

  <!ELEMENT sbul1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1f
    %coreattrs;
  >

  <!ELEMENT sbul1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1l
    %coreattrs;
  >

  <!ELEMENT sbul1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1p
    %coreattrs;
  >

  <!ELEMENT sbul1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1s
    %coreattrs;
  >

  <!ELEMENT sbul2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2
    %coreattrs;
  >

  <!ELEMENT sbul2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2f
    %coreattrs;
  >

  <!ELEMENT sbul2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2l
    %coreattrs;
  >

  <!ELEMENT sbul2p ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2p
    %coreattrs;
  >

  <!ELEMENT sbul2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2s
    %coreattrs;
  >

  <!ELEMENT sbulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbulf
    %coreattrs;
  >

  <!ELEMENT sbull ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbull
    %coreattrs;
  >

  <!ELEMENT sbulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbulp
    %coreattrs;
  >

  <!ELEMENT sbuls ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbuls
    %coreattrs;
  >

  <!ELEMENT sec ( #PCDATA | %character_styles; )* >
  <!ATTLIST sec
    %coreattrs;
  >

  <!ELEMENT secbot ( #PCDATA | %character_styles; )* >
  <!ATTLIST secbot
    %coreattrs;
  >

  <!ELEMENT sectop ( #PCDATA | %character_styles; )* >
  <!ATTLIST sectop
    %coreattrs;
  >

  <!ELEMENT ser ( #PCDATA | %character_styles; )* >
  <!ATTLIST ser
    %coreattrs;
  >

  <!ELEMENT ser1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ser1
    %coreattrs;
  >

  <!ELEMENT ser2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ser2
    %coreattrs;
  >

  <!ELEMENT seraft ( #PCDATA | %character_styles; )* >
  <!ATTLIST seraft
    %coreattrs;
  >

  <!ELEMENT serah ( #PCDATA | %character_styles; )* >
  <!ATTLIST serah
    %coreattrs;
  >

  <!ELEMENT serahaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST serahaft
    %coreattrs;
  >

  <!ELEMENT serau ( #PCDATA | %character_styles; )* >
  <!ATTLIST serau
    %coreattrs;
  >

  <!ELEMENT serbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST serbh
    %coreattrs;
  >

  <!ELEMENT serf ( #PCDATA | %character_styles; )* >
  <!ATTLIST serf
    %coreattrs;
  >

  <!ELEMENT serp ( #PCDATA | %character_styles; )* >
  <!ATTLIST serp
    %coreattrs;
  >

  <!ELEMENT serpf ( #PCDATA | %character_styles; )* >
  <!ATTLIST serpf
    %coreattrs;
  >

  <!ELEMENT sers ( #PCDATA | %character_styles; )* >
  <!ATTLIST sers
    %coreattrs;
  >

  <!ELEMENT sert ( #PCDATA | %character_styles; )* >
  <!ATTLIST sert
    %coreattrs;
  >

  <!ELEMENT sh ( #PCDATA | %character_styles; )* >
  <!ATTLIST sh
    %coreattrs;
  >

  <!ELEMENT sl ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl
    %coreattrs;
  >

  <!ELEMENT sl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl1
    %coreattrs;
  >

  <!ELEMENT sl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl1f
    %coreattrs;
  >

  <!ELEMENT sl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl1l
    %coreattrs;
  >

  <!ELEMENT sl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl2
    %coreattrs;
  >

  <!ELEMENT sl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl2f
    %coreattrs;
  >

  <!ELEMENT sl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl2l
    %coreattrs;
  >

  <!ELEMENT sl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl3
    %coreattrs;
  >

  <!ELEMENT sl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl3f
    %coreattrs;
  >

  <!ELEMENT sl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl3l
    %coreattrs;
  >

  <!ELEMENT sl4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl4
    %coreattrs;
  >

  <!ELEMENT sl4f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl4f
    %coreattrs;
  >

  <!ELEMENT sl4l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl4l
    %coreattrs;
  >

  <!ELEMENT sl5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl5
    %coreattrs;
  >

  <!ELEMENT sl5f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl5f
    %coreattrs;
  >

  <!ELEMENT sl5l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl5l
    %coreattrs;
  >

  <!ELEMENT sl6 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl6
    %coreattrs;
  >

  <!ELEMENT sl6f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl6f
    %coreattrs;
  >

  <!ELEMENT sl6l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl6l
    %coreattrs;
  >

  <!ELEMENT sl7 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl7
    %coreattrs;
  >

  <!ELEMENT sl7f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl7f
    %coreattrs;
  >

  <!ELEMENT sl7l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl7l
    %coreattrs;
  >

  <!ELEMENT sl8 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl8
    %coreattrs;
  >

  <!ELEMENT sl8f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl8f
    %coreattrs;
  >

  <!ELEMENT sl8l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl8l
    %coreattrs;
  >

  <!ELEMENT sl9 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl9
    %coreattrs;
  >

  <!ELEMENT sl9f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl9f
    %coreattrs;
  >

  <!ELEMENT sl9l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl9l
    %coreattrs;
  >

  <!ELEMENT slf ( #PCDATA | %character_styles; )* >
  <!ATTLIST slf
    %coreattrs;
  >

  <!ELEMENT slh ( #PCDATA | %character_styles; )* >
  <!ATTLIST slh
    %coreattrs;
  >

  <!ELEMENT sli ( #PCDATA | %character_styles; )* >
  <!ATTLIST sli
    %coreattrs;
  >

  <!ELEMENT slif ( #PCDATA | %character_styles; )* >
  <!ATTLIST slif
    %coreattrs;
  >

  <!ELEMENT slil ( #PCDATA | %character_styles; )* >
  <!ATTLIST slil
    %coreattrs;
  >

  <!ELEMENT sll ( #PCDATA | %character_styles; )* >
  <!ATTLIST sll
    %coreattrs;
  >

  <!ELEMENT sls ( #PCDATA | %character_styles; )* >
  <!ATTLIST sls
    %coreattrs;
  >

  <!ELEMENT slt ( #PCDATA | %character_styles; )* >
  <!ATTLIST slt
    %coreattrs;
  >

  <!ELEMENT st ( #PCDATA | %character_styles; )* >
  <!ATTLIST st
    %coreattrs;
  >

  <!ELEMENT stf ( #PCDATA | %character_styles; )* >
  <!ATTLIST stf
    %coreattrs;
  >

  <!ELEMENT sth ( #PCDATA | %character_styles; )* >
  <!ATTLIST sth
    %coreattrs;
  >

  <!ELEMENT sth1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sth1
    %coreattrs;
  >

  <!ELEMENT sth2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sth2
    %coreattrs;
  >

  <!ELEMENT stl ( #PCDATA | %character_styles; )* >
  <!ATTLIST stl
    %coreattrs;
  >

  <!ELEMENT structure ( #PCDATA | %character_styles; )* >
  <!ATTLIST structure
    %coreattrs;
  >

  <!ELEMENT sts ( #PCDATA | %character_styles; )* >
  <!ATTLIST sts
    %coreattrs;
  >

  <!ELEMENT tatr ( #PCDATA | %character_styles; )* >
  <!ATTLIST tatr
    %coreattrs;
  >

  <!ELEMENT tch ( #PCDATA | %character_styles; )* >
  <!ATTLIST tch
    %coreattrs;
  >

  <!ELEMENT tch1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST tch1
    %coreattrs;
  >

  <!ELEMENT tch2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST tch2
    %coreattrs;
  >

  <!ELEMENT td ( #PCDATA | %character_styles; )* >
  <!ATTLIST td
    %coreattrs;
  >

  <!ELEMENT tdf ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdf
    %coreattrs;
  >

  <!ELEMENT tdl ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdl
    %coreattrs;
  >

  <!ELEMENT tdnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdnl
    %coreattrs;
  >

  <!ELEMENT tdp ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdp
    %coreattrs;
  >

  <!ELEMENT tdul ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdul
    %coreattrs;
  >

  <!ELEMENT th ( #PCDATA | %character_styles; )* >
  <!ATTLIST th
    %coreattrs;
  >

  <!ELEMENT th1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST th1
    %coreattrs;
  >

  <!ELEMENT th2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST th2
    %coreattrs;
  >

  <!ELEMENT tn ( #PCDATA | %character_styles; )* >
  <!ATTLIST tn
    %coreattrs;
  >

  <!ELEMENT toc ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc
    %coreattrs;
  >

  <!ELEMENT toc1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc1
    %coreattrs;
  >

  <!ELEMENT toc2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc2
    %coreattrs;
  >

  <!ELEMENT toc3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc3
    %coreattrs;
  >

  <!ELEMENT toc4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc4
    %coreattrs;
  >

  <!ELEMENT toc5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc5
    %coreattrs;
  >

  <!ELEMENT tocau ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocau
    %coreattrs;
  >

  <!ELEMENT tocbm ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocbm
    %coreattrs;
  >

  <!ELEMENT tocbmf ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocbmf
    %coreattrs;
  >

  <!ELEMENT tocf ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocf
    %coreattrs;
  >

  <!ELEMENT tocfm ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocfm
    %coreattrs;
  >

  <!ELEMENT tocfmf ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocfmf
    %coreattrs;
  >

  <!ELEMENT tocpt ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocpt
    %coreattrs;
  >

  <!ELEMENT tocut ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocut
    %coreattrs;
  >

  <!ELEMENT tsecbot ( #PCDATA | %character_styles; )* >
  <!ATTLIST tsecbot
    %coreattrs;
  >

  <!ELEMENT tsectop ( #PCDATA | %character_styles; )* >
  <!ATTLIST tsectop
    %coreattrs;
  >

  <!ELEMENT ul ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul
    %coreattrs;
  >

  <!ELEMENT ul1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1
    %coreattrs;
  >

  <!ELEMENT ul1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1f
    %coreattrs;
  >

  <!ELEMENT ul1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1l
    %coreattrs;
  >

  <!ELEMENT ul1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1p
    %coreattrs;
  >

  <!ELEMENT ul1pl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1pl
    %coreattrs;
  >

  <!ELEMENT ul1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1s
    %coreattrs;
  >

  <!ELEMENT ul2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2
    %coreattrs;
  >

  <!ELEMENT ul2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2f
    %coreattrs;
  >

  <!ELEMENT ul2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2l
    %coreattrs;
  >

  <!ELEMENT ul2p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2p
    %coreattrs;
  >

  <!ELEMENT ul2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2s
    %coreattrs;
  >

  <!ELEMENT ul3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3
    %coreattrs;
  >

  <!ELEMENT ul3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3f
    %coreattrs;
  >

  <!ELEMENT ul3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3l
    %coreattrs;
  >

  <!ELEMENT ul3p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3p
    %coreattrs;
  >

  <!ELEMENT ul3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3s
    %coreattrs;
  >

  <!ELEMENT ul4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4
    %coreattrs;
  >

  <!ELEMENT ul4f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4f
    %coreattrs;
  >

  <!ELEMENT ul4l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4l
    %coreattrs;
  >

  <!ELEMENT ul4p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4p
    %coreattrs;
  >

  <!ELEMENT ul4s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4s
    %coreattrs;
  >

  <!ELEMENT ul5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5
    %coreattrs;
  >

  <!ELEMENT ul5f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5f
    %coreattrs;
  >

  <!ELEMENT ul5l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5l
    %coreattrs;
  >

  <!ELEMENT ul5p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5p
    %coreattrs;
  >

  <!ELEMENT ul5s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5s
    %coreattrs;
  >

  <!ELEMENT ulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ulf
    %coreattrs;
  >

  <!ELEMENT ulh ( #PCDATA | %character_styles; )* >
  <!ATTLIST ulh
    %coreattrs;
  >

  <!ELEMENT ull ( #PCDATA | %character_styles; )* >
  <!ATTLIST ull
    %coreattrs;
  >

  <!ELEMENT ulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST ulp
    %coreattrs;
  >

  <!ELEMENT ulpl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ulpl
    %coreattrs;
  >

  <!ELEMENT uls ( #PCDATA | %character_styles; )* >
  <!ATTLIST uls
    %coreattrs;
  >

  <!ELEMENT un ( #PCDATA | %character_styles; )* >
  <!ATTLIST un
    %coreattrs;
  >

  <!ELEMENT us ( #PCDATA | %character_styles; )* >
  <!ATTLIST us
    %coreattrs;
  >

  <!ELEMENT ut ( #PCDATA | %character_styles; )* >
  <!ATTLIST ut
    %coreattrs;
  >

  <!ELEMENT video ( #PCDATA | %character_styles; )* >
  <!ATTLIST video
    %coreattrs;
  >

  <!ELEMENT wl ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl
    %coreattrs;
  >

  <!ELEMENT wl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1
    %coreattrs;
  >

  <!ELEMENT wl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1f
    %coreattrs;
  >

  <!ELEMENT wl1h ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1h
    %coreattrs;
  >

  <!ELEMENT wl1h1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1h1
    %coreattrs;
  >

  <!ELEMENT wl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1l
    %coreattrs;
  >

  <!ELEMENT wl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1s
    %coreattrs;
  >

  <!ELEMENT wl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2
    %coreattrs;
  >

  <!ELEMENT wl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2f
    %coreattrs;
  >

  <!ELEMENT wl2h ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2h
    %coreattrs;
  >

  <!ELEMENT wl2h1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2h1
    %coreattrs;
  >

  <!ELEMENT wl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2l
    %coreattrs;
  >

  <!ELEMENT wl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2s
    %coreattrs;
  >

  <!ELEMENT wl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3
    %coreattrs;
  >

  <!ELEMENT wl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3f
    %coreattrs;
  >

  <!ELEMENT wl3h ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3h
    %coreattrs;
  >

  <!ELEMENT wl3h1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3h1
    %coreattrs;
  >

  <!ELEMENT wl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3l
    %coreattrs;
  >

  <!ELEMENT wl3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3s
    %coreattrs;
  >

  <!ELEMENT wlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST wlf
    %coreattrs;
  >

  <!ELEMENT wlh ( #PCDATA | %character_styles; )* >
  <!ATTLIST wlh
    %coreattrs;
  >

  <!ELEMENT wlh1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wlh1
    %coreattrs;
  >

  <!ELEMENT wll ( #PCDATA | %character_styles; )* >
  <!ATTLIST wll
    %coreattrs;
  >

  <!ELEMENT wls ( #PCDATA | %character_styles; )* >
  <!ATTLIST wls
    %coreattrs;
  >

  <!ELEMENT wsh ( #PCDATA | %character_styles; )* >
  <!ATTLIST wsh
    %coreattrs;
  >

<!-- ============================================================ -->
<!--                       Character Styles                       -->
<!-- ============================================================ -->

  <!ELEMENT a ( #PCDATA )* >
  <!ATTLIST a
    %coreattrs;
  >

  <!ELEMENT abbr ( #PCDATA )* >
  <!ATTLIST abbr
    %coreattrs;
  >

  <!ELEMENT ac ( #PCDATA )* >
  <!ATTLIST ac
    %coreattrs;
  >

  <!ELEMENT b ( #PCDATA )* >
  <!ATTLIST b
    %coreattrs;
  >

  <!ELEMENT bcv ( #PCDATA )* >
  <!ATTLIST bcv
    %coreattrs;
  >

  <!ELEMENT bi ( #PCDATA )* >
  <!ATTLIST bi
    %coreattrs;
  >

  <!ELEMENT ccust1 ( #PCDATA )* >
  <!ATTLIST ccust1
    %coreattrs;
  >

  <!ELEMENT ccust2 ( #PCDATA )* >
  <!ATTLIST ccust2
    %coreattrs;
  >

  <!ELEMENT ccust3 ( #PCDATA )* >
  <!ATTLIST ccust3
    %coreattrs;
  >

  <!ELEMENT chemb ( #PCDATA )* >
  <!ATTLIST chemb
    %coreattrs;
  >

  <!ELEMENT code ( #PCDATA )* >
  <!ATTLIST code
    %coreattrs;
  >

  <!ELEMENT code-b ( #PCDATA )* >
  <!ATTLIST code-b
    %coreattrs;
  >

  <!ELEMENT code-bi ( #PCDATA )* >
  <!ATTLIST code-bi
    %coreattrs;
  >

  <!ELEMENT code-i ( #PCDATA )* >
  <!ATTLIST code-i
    %coreattrs;
  >

  <!ELEMENT dcrit ( #PCDATA )* >
  <!ATTLIST dcrit
    %coreattrs;
  >

  <!ELEMENT dcrit-b ( #PCDATA )* >
  <!ATTLIST dcrit-b
    %coreattrs;
  >

  <!ELEMENT dcrit-bi ( #PCDATA )* >
  <!ATTLIST dcrit-bi
    %coreattrs;
  >

  <!ELEMENT dcrit-i ( #PCDATA )* >
  <!ATTLIST dcrit-i
    %coreattrs;
  >

  <!ELEMENT dcrit-ob ( #PCDATA )* >
  <!ATTLIST dcrit-ob
    %coreattrs;
  >

  <!ELEMENT dcrit-red ( #PCDATA )* >
  <!ATTLIST dcrit-red
    %coreattrs;
  >

  <!ELEMENT dispk ( #PCDATA )* >
  <!ATTLIST dispk
    %coreattrs;
  >

  <!ELEMENT dispk-i ( #PCDATA )* >
  <!ATTLIST dispk-i
    %coreattrs;
  >

  <!ELEMENT dropcap ( #PCDATA )* >
  <!ATTLIST dropcap
    %coreattrs;
  >

  <!ELEMENT dropcap-i ( #PCDATA )* >
  <!ATTLIST dropcap-i
    %coreattrs;
  >

  <!ELEMENT ennum ( #PCDATA )* >
  <!ATTLIST ennum
    %coreattrs;
  >

  <!ELEMENT enref ( #PCDATA )* >
  <!ATTLIST enref
    %coreattrs;
  >

  <!ELEMENT fighn ( #PCDATA )* >
  <!ATTLIST fighn
    %coreattrs;
  >

  <!ELEMENT first ( #PCDATA )* >
  <!ATTLIST first
    %coreattrs;
  >

  <!ELEMENT first-i ( #PCDATA )* >
  <!ATTLIST first-i
    %coreattrs;
  >

  <!ELEMENT fnnum ( #PCDATA )* >
  <!ATTLIST fnnum
    %coreattrs;
  >

  <!ELEMENT fnref ( #PCDATA )* >
  <!ATTLIST fnref
    %coreattrs;
  >

  <!ELEMENT frac ( #PCDATA )* >
  <!ATTLIST frac
    %coreattrs;
  >

  <!ELEMENT frac-b ( #PCDATA )* >
  <!ATTLIST frac-b
    %coreattrs;
  >

  <!ELEMENT frac-bi ( #PCDATA )* >
  <!ATTLIST frac-bi
    %coreattrs;
  >

  <!ELEMENT frac-i ( #PCDATA )* >
  <!ATTLIST frac-i
    %coreattrs;
  >

  <!ELEMENT grc ( #PCDATA )* >
  <!ATTLIST grc
    %coreattrs;
  >

  <!ELEMENT grc-b ( #PCDATA )* >
  <!ATTLIST grc-b
    %coreattrs;
  >

  <!ELEMENT grc-bi ( #PCDATA )* >
  <!ATTLIST grc-bi
    %coreattrs;
  >

  <!ELEMENT grc-i ( #PCDATA )* >
  <!ATTLIST grc-i
    %coreattrs;
  >

  <!ELEMENT grc-u ( #PCDATA )* >
  <!ATTLIST grc-u
    %coreattrs;
  >

  <!ELEMENT gt ( #PCDATA )* >
  <!ATTLIST gt
    %coreattrs;
  >

  <!ELEMENT gt-i ( #PCDATA )* >
  <!ATTLIST gt-i
    %coreattrs;
  >

  <!ELEMENT gt-sm ( #PCDATA )* >
  <!ATTLIST gt-sm
    %coreattrs;
  >

  <!ELEMENT gtref ( #PCDATA )* >
  <!ATTLIST gtref
    %coreattrs;
  >

  <!ELEMENT heb ( #PCDATA )* >
  <!ATTLIST heb
    %coreattrs;
  >

  <!ELEMENT heb-b ( #PCDATA )* >
  <!ATTLIST heb-b
    %coreattrs;
  >

  <!ELEMENT heb-bi ( #PCDATA )* >
  <!ATTLIST heb-bi
    %coreattrs;
  >

  <!ELEMENT heb-i ( #PCDATA )* >
  <!ATTLIST heb-i
    %coreattrs;
  >

  <!ELEMENT heb-u ( #PCDATA )* >
  <!ATTLIST heb-u
    %coreattrs;
  >

  <!ELEMENT hemb ( #PCDATA )* >
  <!ATTLIST hemb
    %coreattrs;
  >

  <!ELEMENT gtref-i ( #PCDATA )* >
  <!ATTLIST gtref-i
    %coreattrs;
  >

  <!ELEMENT gtref-sm ( #PCDATA )* >
  <!ATTLIST gtref-sm
    %coreattrs;
  >

  <!ELEMENT i ( #PCDATA )* >
  <!ATTLIST i
    %coreattrs;
  >

  <!ELEMENT idx ( #PCDATA )* >
  <!ATTLIST idx
    %coreattrs;
  >

  <!ELEMENT img ( #PCDATA )* >
  <!ATTLIST img
    %coreattrs;
    src  CDATA  #IMPLIED
    alt  CDATA  #IMPLIED
    height  CDATA  #IMPLIED
    width  CDATA  #IMPLIED
  >

  <!ELEMENT iu ( #PCDATA )* >
  <!ATTLIST iu
    %coreattrs;
  >

  <!ELEMENT l-chi ( #PCDATA )* >
  <!ATTLIST l-chi
    %coreattrs;
  >

  <!ELEMENT l-chi-b ( #PCDATA )* >
  <!ATTLIST l-chi-b
    %coreattrs;
  >

  <!ELEMENT l-chi-bi ( #PCDATA )* >
  <!ATTLIST l-chi-bi
    %coreattrs;
  >

  <!ELEMENT l-chi-i ( #PCDATA )* >
  <!ATTLIST l-chi-i
    %coreattrs;
  >

  <!ELEMENT l-fre ( #PCDATA )* >
  <!ATTLIST l-fre
    %coreattrs;
  >

  <!ELEMENT l-fre-b ( #PCDATA )* >
  <!ATTLIST l-fre-b
    %coreattrs;
  >

  <!ELEMENT l-fre-bi ( #PCDATA )* >
  <!ATTLIST l-fre-bi
    %coreattrs;
  >

  <!ELEMENT l-fre-i ( #PCDATA )* >
  <!ATTLIST l-fre-i
    %coreattrs;
  >

  <!ELEMENT l-ger ( #PCDATA )* >
  <!ATTLIST l-ger
    %coreattrs;
  >

  <!ELEMENT l-ger-b ( #PCDATA )* >
  <!ATTLIST l-ger-b
    %coreattrs;
  >

  <!ELEMENT l-ger-bi ( #PCDATA )* >
  <!ATTLIST l-ger-bi
    %coreattrs;
  >

  <!ELEMENT l-ger-i ( #PCDATA )* >
  <!ATTLIST l-ger-i
    %coreattrs;
  >

  <!ELEMENT l-ita ( #PCDATA )* >
  <!ATTLIST l-ita
    %coreattrs;
  >

  <!ELEMENT l-ita-b ( #PCDATA )* >
  <!ATTLIST l-ita-b
    %coreattrs;
  >

  <!ELEMENT l-ita-bi ( #PCDATA )* >
  <!ATTLIST l-ita-bi
    %coreattrs;
  >

  <!ELEMENT l-ita-i ( #PCDATA )* >
  <!ATTLIST l-ita-i
    %coreattrs;
  >

  <!ELEMENT l-jpn ( #PCDATA )* >
  <!ATTLIST l-jpn
    %coreattrs;
  >

  <!ELEMENT l-jpn-b ( #PCDATA )* >
  <!ATTLIST l-jpn-b
    %coreattrs;
  >

  <!ELEMENT l-jpn-bi ( #PCDATA )* >
  <!ATTLIST l-jpn-bi
    %coreattrs;
  >

  <!ELEMENT l-jpn-i ( #PCDATA )* >
  <!ATTLIST l-jpn-i
    %coreattrs;
  >

  <!ELEMENT l-kor ( #PCDATA )* >
  <!ATTLIST l-kor
    %coreattrs;
  >

  <!ELEMENT l-kor-b ( #PCDATA )* >
  <!ATTLIST l-kor-b
    %coreattrs;
  >

  <!ELEMENT l-kor-bi ( #PCDATA )* >
  <!ATTLIST l-kor-bi
    %coreattrs;
  >

  <!ELEMENT l-kor-i ( #PCDATA )* >
  <!ATTLIST l-kor-i
    %coreattrs;
  >

  <!ELEMENT l-lat ( #PCDATA )* >
  <!ATTLIST l-lat
    %coreattrs;
  >

  <!ELEMENT l-lat-b ( #PCDATA )* >
  <!ATTLIST l-lat-b
    %coreattrs;
  >

  <!ELEMENT l-lat-bi ( #PCDATA )* >
  <!ATTLIST l-lat-bi
    %coreattrs;
  >

  <!ELEMENT l-lat-i ( #PCDATA )* >
  <!ATTLIST l-lat-i
    %coreattrs;
  >

  <!ELEMENT l-rus ( #PCDATA )* >
  <!ATTLIST l-rus
    %coreattrs;
  >

  <!ELEMENT l-rus-b ( #PCDATA )* >
  <!ATTLIST l-rus-b
    %coreattrs;
  >

  <!ELEMENT l-rus-bi ( #PCDATA )* >
  <!ATTLIST l-rus-bi
    %coreattrs;
  >

  <!ELEMENT l-rus-i ( #PCDATA )* >
  <!ATTLIST l-rus-i
    %coreattrs;
  >

  <!ELEMENT l-spa ( #PCDATA )* >
  <!ATTLIST l-spa
    %coreattrs;
  >

  <!ELEMENT l-spa-b ( #PCDATA )* >
  <!ATTLIST l-spa-b
    %coreattrs;
  >

  <!ELEMENT l-spa-bi ( #PCDATA )* >
  <!ATTLIST l-spa-bi
    %coreattrs;
  >

  <!ELEMENT l-spa-i ( #PCDATA )* >
  <!ATTLIST l-spa-i
    %coreattrs;
  >

  <!ELEMENT lang ( #PCDATA )* >
  <!ATTLIST lang
    %coreattrs;
  >

  <!ELEMENT lang-b ( #PCDATA )* >
  <!ATTLIST lang-b
    %coreattrs;
  >

  <!ELEMENT lang-bi ( #PCDATA )* >
  <!ATTLIST lang-bi
    %coreattrs;
  >

  <!ELEMENT lang-i ( #PCDATA )* >
  <!ATTLIST lang-i
    %coreattrs;
  >

  <!ELEMENT med ( #PCDATA )* >
  <!ATTLIST med
    %coreattrs;
  >

  <!ELEMENT ob ( #PCDATA )* >
  <!ATTLIST ob
    %coreattrs;
  >

  <!ELEMENT osf ( #PCDATA )* >
  <!ATTLIST osf
    %coreattrs;
  >

  <!ELEMENT osf-b ( #PCDATA )* >
  <!ATTLIST osf-b
    %coreattrs;
  >

  <!ELEMENT osf-bi ( #PCDATA )* >
  <!ATTLIST osf-bi
    %coreattrs;
  >

  <!ELEMENT osf-i ( #PCDATA )* >
  <!ATTLIST osf-i
    %coreattrs;
  >

  <!ELEMENT page ( #PCDATA )* >
  <!ATTLIST page
    %coreattrs;
    locator  CDATA  #IMPLIED
  >

  <!ELEMENT pnum ( #PCDATA )* >
  <!ATTLIST pnum
    %coreattrs;
  >

  <!ELEMENT rc ( #PCDATA )* >
  <!ATTLIST rc
    %coreattrs;
  >

  <!ELEMENT red ( #PCDATA )* >
  <!ATTLIST red
    %coreattrs;
  >

  <!ELEMENT red-b ( #PCDATA )* >
  <!ATTLIST red-b
    %coreattrs;
  >

  <!ELEMENT red-i ( #PCDATA )* >
  <!ATTLIST red-i
    %coreattrs;
  >

  <!ELEMENT red-ob ( #PCDATA )* >
  <!ATTLIST red-ob
    %coreattrs;
  >

  <!ELEMENT red-sm ( #PCDATA )* >
  <!ATTLIST red-sm
    %coreattrs;
  >

  <!ELEMENT red-sm-i ( #PCDATA )* >
  <!ATTLIST red-sm-i
    %coreattrs;
  >

  <!ELEMENT red-sm-ob ( #PCDATA )* >
  <!ATTLIST red-sm-ob
    %coreattrs;
  >

  <!ELEMENT sm ( #PCDATA )* >
  <!ATTLIST sm
    %coreattrs;
  >

  <!ELEMENT sm-b ( #PCDATA )* >
  <!ATTLIST sm-b
    %coreattrs;
  >

  <!ELEMENT sm-bi ( #PCDATA )* >
  <!ATTLIST sm-bi
    %coreattrs;
  >

  <!ELEMENT sm-i ( #PCDATA )* >
  <!ATTLIST sm-i
    %coreattrs;
  >

  <!ELEMENT sm-ob ( #PCDATA )* >
  <!ATTLIST sm-ob
    %coreattrs;
  >

  <!ELEMENT smver ( #PCDATA )* >
  <!ATTLIST smver
    %coreattrs;
  >

  <!ELEMENT speaker ( #PCDATA )* >
  <!ATTLIST speaker
    %coreattrs;
  >

  <!ELEMENT speaker-i ( #PCDATA )* >
  <!ATTLIST speaker-i
    %coreattrs;
  >

  <!ELEMENT strk ( #PCDATA )* >
  <!ATTLIST strk
    %coreattrs;
  >

  <!ELEMENT sub ( #PCDATA )* >
  <!ATTLIST sub
    %coreattrs;
  >

  <!ELEMENT sub-b ( #PCDATA )* >
  <!ATTLIST sub-b
    %coreattrs;
  >

  <!ELEMENT sub-bi ( #PCDATA )* >
  <!ATTLIST sub-bi
    %coreattrs;
  >

  <!ELEMENT sub-i ( #PCDATA )* >
  <!ATTLIST sub-i
    %coreattrs;
  >

  <!ELEMENT sub-u ( #PCDATA )* >
  <!ATTLIST sub-u
    %coreattrs;
  >

  <!ELEMENT sup ( #PCDATA )* >
  <!ATTLIST sup
    %coreattrs;
  >

  <!ELEMENT sup-b ( #PCDATA )* >
  <!ATTLIST sup-b
    %coreattrs;
  >

  <!ELEMENT sup-bi ( #PCDATA )* >
  <!ATTLIST sup-bi
    %coreattrs;
  >

  <!ELEMENT sup-i ( #PCDATA )* >
  <!ATTLIST sup-i
    %coreattrs;
  >

  <!ELEMENT sup-u ( #PCDATA )* >
  <!ATTLIST sup-u
    %coreattrs;
  >

  <!ELEMENT symb ( #PCDATA )* >
  <!ATTLIST symb
    %coreattrs;
  >

  <!ELEMENT symb-b ( #PCDATA )* >
  <!ATTLIST symb-b
    %coreattrs;
  >

  <!ELEMENT symb-i ( #PCDATA )* >
  <!ATTLIST symb-i
    %coreattrs;
  >

  <!ELEMENT symb-sub ( #PCDATA )* >
  <!ATTLIST symb-sub
    %coreattrs;
  >

  <!ELEMENT symb-sub-b ( #PCDATA )* >
  <!ATTLIST symb-sub-b
    %coreattrs;
  >

  <!ELEMENT symb-sub-bi ( #PCDATA )* >
  <!ATTLIST symb-sub-bi
    %coreattrs;
  >

  <!ELEMENT symb-sub-i ( #PCDATA )* >
  <!ATTLIST symb-sub-i
    %coreattrs;
  >

  <!ELEMENT symb-sup ( #PCDATA )* >
  <!ATTLIST symb-sup
    %coreattrs;
  >

  <!ELEMENT symb-sup-b ( #PCDATA )* >
  <!ATTLIST symb-sup-b
    %coreattrs;
  >

  <!ELEMENT symb-sup-bi ( #PCDATA )* >
  <!ATTLIST symb-sup-bi
    %coreattrs;
  >

  <!ELEMENT symb-sup-i ( #PCDATA )* >
  <!ATTLIST symb-sup-i
    %coreattrs;
  >

  <!ELEMENT taxclass ( #PCDATA )* >
  <!ATTLIST taxclass
    %coreattrs;
  >

  <!ELEMENT taxfamily ( #PCDATA )* >
  <!ATTLIST taxfamily
    %coreattrs;
  >

  <!ELEMENT taxgenus ( #PCDATA )* >
  <!ATTLIST taxgenus
    %coreattrs;
  >

  <!ELEMENT taxkingdom ( #PCDATA )* >
  <!ATTLIST taxkingdom
    %coreattrs;
  >

  <!ELEMENT taxorder ( #PCDATA )* >
  <!ATTLIST taxorder
    %coreattrs;
  >

  <!ELEMENT taxphylum ( #PCDATA )* >
  <!ATTLIST taxphylum
    %coreattrs;
  >

  <!ELEMENT taxspecies ( #PCDATA )* >
  <!ATTLIST taxspecies
    %coreattrs;
  >

  <!ELEMENT tel ( #PCDATA )* >
  <!ATTLIST tel
    %coreattrs;
  >

  <!ELEMENT tetr ( #PCDATA )* >
  <!ATTLIST tetr
    %coreattrs;
  >

  <!ELEMENT tetr-b ( #PCDATA )* >
  <!ATTLIST tetr-b
    %coreattrs;
  >

  <!ELEMENT tetr-i ( #PCDATA )* >
  <!ATTLIST tetr-i
    %coreattrs;
  >

  <!ELEMENT tetr-ob ( #PCDATA )* >
  <!ATTLIST tetr-ob
    %coreattrs;
  >

  <!ELEMENT tetr-red ( #PCDATA )* >
  <!ATTLIST tetr-red
    %coreattrs;
  >

  <!ELEMENT tetr-red-i ( #PCDATA )* >
  <!ATTLIST tetr-red-i
    %coreattrs;
  >

  <!ELEMENT tetr-red-ob ( #PCDATA )* >
  <!ATTLIST tetr-red-ob
    %coreattrs;
  >

  <!ELEMENT tgrc ( #PCDATA )* >
  <!ATTLIST tgrc
    %coreattrs;
  >

  <!ELEMENT tgrc-b ( #PCDATA )* >
  <!ATTLIST tgrc-b
    %coreattrs;
  >

  <!ELEMENT tgrc-bi ( #PCDATA )* >
  <!ATTLIST tgrc-bi
    %coreattrs;
  >

  <!ELEMENT tgrc-i ( #PCDATA )* >
  <!ATTLIST tgrc-i
    %coreattrs;
  >

  <!ELEMENT theb ( #PCDATA )* >
  <!ATTLIST theb
    %coreattrs;
  >

  <!ELEMENT theb-i ( #PCDATA )* >
  <!ATTLIST theb-i
    %coreattrs;
  >

  <!ELEMENT theb-ob ( #PCDATA )* >
  <!ATTLIST theb-ob
    %coreattrs;
  >

  <!ELEMENT theb-red ( #PCDATA )* >
  <!ATTLIST theb-red
    %coreattrs;
  >

  <!ELEMENT thn ( #PCDATA )* >
  <!ATTLIST thn
    %coreattrs;
  >

  <!ELEMENT trh ( #PCDATA )* >
  <!ATTLIST trh
    %coreattrs;
  >

  <!ELEMENT trh-i ( #PCDATA )* >
  <!ATTLIST trh-i
    %coreattrs;
  >

  <!ELEMENT u ( #PCDATA )* >
  <!ATTLIST u
    %coreattrs;
  >

  <!ELEMENT url ( #PCDATA )* >
  <!ATTLIST url
    %coreattrs;
    href  CDATA  #IMPLIED
  >

  <!ELEMENT ver ( #PCDATA )* >
  <!ATTLIST ver
    %coreattrs;
  >

  <!ELEMENT xbk ( #PCDATA )* >
  <!ATTLIST xbk
    %coreattrs;
  >

  <!ELEMENT xbr ( #PCDATA )* >
  <!ATTLIST xbr
    %coreattrs;
  >

  <!ELEMENT xref ( #PCDATA )* >
  <!ATTLIST xref
    %coreattrs;
    idref  IDREF  #IMPLIED
  >

  <!ELEMENT xref-i ( #PCDATA )* >
  <!ATTLIST xref-i
    %coreattrs;
    idref  IDREF  #IMPLIED
  >


