scml.dtd

<!-- ============================================================= -->
<!--  MODULE:    Scribe Markup Language (ScML)                     -->
<!--  VERSION:   2.1.2                                             -->
<!--  DATE:      March 2015                                        -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
Version  Reason/Occasion                    (who)        m.m.p (yymmdd)  
57       Reboot of ScML versioning to       dcorrigan    2.0.0  140401
         follow strict semantic rules       cchimi
         as defined by http://semver.org/
         - no longer supports "flat" scml
           construction; that's been
           delegated to sam (Scribe
           Abbreviated Mark-up)
         - division and book only children
           of root
         - chapter only child of book
         - part and text elements
           eliminated
         - block-level elements valid
           within one another
         - all paragraph-level elements
           valid within all block-levels
         - various minor additions and
           deletions
58       Addition of some minor attributes dcorrigan     2.0.1  140509
         to url, page, and table
         Fixed placement of hr
59       Adding "lang" as global attr.     dcorrigan     2.0.2  140729
60       2015 major tag update:            dcorrigan     2.1.0  150102
          - added 26 para styles
          - added 34 char styles
          - removed 36 char styles
            (language variants: l-)
          - added "alt" attr to
            bk, ut, pt, ct
60       corrected use of IDREF attr       dcorrigan     2.1.1  150322 
61       added term, level1, etc. attrs    dcorrigan     2.1.2  150810
         for idx as index term metadata
       
-->

<!-- ============================================================ -->
<!--                     Entity Declarations                      -->
<!-- ============================================================ -->

  <!ENTITY % coreattrs
    "id        ID      #IMPLIED
    type      CDATA   #IMPLIED
    semantic  CDATA   #IMPLIED
    lang      CDATA   #IMPLIED"
  >

  <!ENTITY % block_styles
  "blockquote
  | box
  | codeline
  | dialogue
  | endnote
  | epigraph
  | equation
  | exercise
  | figure
  | footnote
  | glossary
  | index
  | letter
  | list
  | media
  | notes
  | pullquote
  | question
  | recipe
  | references
  | senseline
  | sidebar
  | story
  | written
  | table">

  <!ENTITY % paragraph_styles
  "ah
  | ahaft
  | ans
  | ansf
  | ard
  | au
  | au1
  | aubio
  | aubiof
  | audio
  | bh
  | bhaft
  | bk
  | bk1
  | bk2
  | bkau
  | bkau1
  | bkht
  | bkpub
  | bkpub1
  | bksect
  | bl
  | bl1
  | bl1f
  | bl1l
  | bl1p
  | bl1pl
  | bl1s
  | blf
  | blh
  | bll
  | blp
  | blpl
  | bls
  | bq
  | bq1
  | bq1f
  | bq1l
  | bq1s
  | bqaft
  | bqf
  | bqh
  | bql
  | bqnl
  | bqnlf
  | bqnll
  | bqnls
  | bqo
  | bqs
  | bqt
  | bqul
  | bqulf
  | bqull
  | bquls
  | bx
  | bx1
  | bx1aft
  | bx1ah
  | bx1bh
  | bx1bq
  | bx1bqf
  | bx1bql
  | bx1bqs
  | bx1con
  | bx1f
  | bx1h
  | bx1l
  | bx1nl
  | bx1nlf
  | bx1nll
  | bx1nlp
  | bx1s
  | bx1sl
  | bx1slf
  | bx1sll
  | bx1t
  | bx1ul
  | bx1ulf
  | bx1ull
  | bx1ulp
  | bxaft
  | bxah
  | bxau
  | bxau1
  | bxbh
  | bxbq
  | bxbqf
  | bxbql
  | bxbqs
  | bxcon
  | bxf
  | bxh
  | bxl
  | bxnl
  | bxnlf
  | bxnll
  | bxnlp
  | bxnls
  | bxo
  | bxs
  | bxsl
  | bxslf
  | bxsll
  | bxt
  | bxul
  | bxulf
  | bxull
  | bxulp
  | bxuls
  | call
  | ch
  | chaft
  | chsect
  | chsubsect
  | cip
  | cip1
  | cip2
  | cipf
  | cipf1
  | cipl
  | cl
  | cl1
  | cl1f
  | cl1l
  | cl1s
  | cl2
  | cl2f
  | cl2l
  | cl2s
  | cl3
  | cl3f
  | cl3l
  | cl3s
  | clf
  | cll
  | cls
  | cn
  | com
  | comp
  | crt
  | crt1
  | crt1f
  | crt2
  | crt3
  | crtf
  | cs
  | ct
  | ctbm
  | ctfm
  | ctoc
  | ctoc1
  | ctoch
  | ded
  | ded1
  | ded1f
  | dedf
  | dh
  | dhaft
  | dia
  | diaf
  | dial
  | diap
  | diapl
  | dias
  | dl
  | dl1
  | dt
  | dtsub
  | eds
  | eh
  | ehaft
  | en
  | end
  | enhn
  | enp
  | ep
  | ep1
  | ep2
  | epaft
  | epf
  | epl
  | eps
  | epsl
  | epsl1
  | epslf
  | ept
  | ept1
  | eq
  | eqaft
  | ex
  | exaft
  | exah
  | exbh
  | exf
  | exh
  | exl
  | exnl
  | exnl1
  | exnl1f
  | exnl1l
  | exnl1p
  | exnl1s
  | exnlf
  | exnll
  | exnlp
  | exnls
  | exs
  | exul
  | exul1
  | exul1f
  | exul1l
  | exul1p
  | exul1s
  | exulf
  | exull
  | exulp
  | exuls
  | fig
  | figatr
  | figcap
  | figcap1
  | figh
  | figh1
  | fign
  | fn
  | fnp
  | fs
  | glo
  | glof
  | hb
  | hd
  | hdn
  | hr
  | in
  | in1
  | in2
  | in3
  | inf
  | inh
  | inh1
  | inhn
  | lo
  | lps
  | lt
  | lta
  | ltaf
  | ltc
  | ltd
  | ltdf
  | ltf
  | ltg
  | ltl
  | lto
  | lts
  | ltsig
  | ltsigf
  | ltsigl
  | ltsigs
  | mediaatr
  | mediacap
  | mediah
  | nl
  | nl1
  | nl1f
  | nl1l
  | nl1p
  | nl1pl
  | nl1s
  | nl2
  | nl2f
  | nl2l
  | nl2p
  | nl2s
  | nl3
  | nl3f
  | nl3l
  | nl3p
  | nl3s
  | nl4
  | nl4f
  | nl4l
  | nl4p
  | nl4s
  | nl5
  | nl5f
  | nl5l
  | nl5p
  | nl5s
  | nlf
  | nlh
  | nll
  | nlp
  | nlpl
  | nls
  | ntbq
  | ntbqf
  | ntbql
  | ntbqs
  | ntcon
  | nteq
  | ntnl
  | ntnl1
  | ntnl1f
  | ntnl1l
  | ntnl1s
  | ntnlf
  | ntnls
  | ntnll
  | ntsl
  | ntsl1
  | ntsl1f
  | ntsl1l
  | ntsl1s
  | ntslf
  | ntsll
  | ntsls
  | nttd
  | ntul
  | ntul1
  | ntul1f
  | ntul1l
  | ntul1s
  | ntulf
  | ntull
  | ntuls
  | opt
  | p
  | paft
  | patr
  | patr1
  | pcon
  | pcust1
  | pcust2
  | pcust3
  | pf
  | pn
  | ps
  | psec
  | psec1
  | pt
  | qu
  | quf
  | quh
  | quot
  | quotf
  | quotl
  | quots
  | quott
  | rb
  | rbc
  | rbi
  | rf
  | rf1
  | rf2
  | rff
  | rp
  | rp1
  | rp1f
  | rp1l
  | rp1y
  | rpah
  | rpbh
  | rpch
  | rpf
  | rpg
  | rpg1
  | rph
  | rph1
  | rphn
  | rpil
  | rpil1
  | rpil1f
  | rpil1l
  | rpil1s
  | rpilf
  | rpill
  | rpils
  | rpl
  | rpn
  | rpn1
  | rpnut
  | rpnut1
  | rpt
  | rpt1
  | rpv
  | rpv1
  | rpv1f
  | rpv1h
  | rpv1l
  | rpvf
  | rpvh
  | rpvl
  | rpy
  | rv
  | rvd
  | rvh
  | rvt
  | sb
  | sb1
  | sb1f
  | sb1h
  | sb1l
  | sb1t
  | sbaft
  | sbah
  | sbahaft
  | sbbh
  | sbbhaft
  | sbbl
  | sbbl1
  | sbbl1f
  | sbbl1l
  | sbbl1s
  | sbblf
  | sbbll
  | sbbls
  | sbbq
  | sbbqaft
  | sbbqf
  | sbbql
  | sbbqs
  | sbcon
  | sbf
  | sbh
  | sbl
  | sbnl
  | sbnl1
  | sbnl1f
  | sbnl1l
  | sbnl1p
  | sbnl1s
  | sbnl2
  | sbnl2f
  | sbnl2l
  | sbnl2p
  | sbnl2s
  | sbnl3
  | sbnl3f
  | sbnl3l
  | sbnl4
  | sbnl4f
  | sbnl4l
  | sbnl5
  | sbnl5f
  | sbnl5l
  | sbnlf
  | sbnll
  | sbnlp
  | sbnls
  | sbo
  | sbs
  | sbsl
  | sbsl1
  | sbsl1f
  | sbsl1l
  | sbsl1s
  | sbsl2
  | sbsl2f
  | sbsl2l
  | sbsl2s
  | sbsl3
  | sbsl3f
  | sbsl3l
  | sbsl3s
  | sbslf
  | sbsli
  | sbslif
  | sbslil
  | sbsll
  | sbsls
  | sbslt
  | sbt
  | sbul
  | sbul1
  | sbul1f
  | sbul1l
  | sbul1p
  | sbul1s
  | sbul2
  | sbul2f
  | sbul2l
  | sbul2p
  | sbul2s
  | sbulf
  | sbull
  | sbulp
  | sbuls
  | sec
  | secbot
  | sectop
  | ser
  | ser1
  | ser2
  | seraft
  | serah
  | serahaft
  | serau
  | serbh
  | serf
  | serp
  | serpf
  | sers
  | sert
  | sh
  | sl
  | sl1
  | sl1f
  | sl1l
  | sl2
  | sl2f
  | sl2l
  | sl3
  | sl3f
  | sl3l
  | sl4
  | sl4f
  | sl4l
  | sl5
  | sl5f
  | sl5l
  | sl6
  | sl6f
  | sl6l
  | sl7
  | sl7f
  | sl7l
  | sl8
  | sl8f
  | sl8l
  | sl9
  | sl9f
  | sl9l
  | slf
  | slh
  | sli
  | slif
  | slil
  | sll
  | sls
  | slt
  | st
  | staft
  | stf
  | sth
  | sth1
  | sth2
  | stl
  | sto
  | sts
  | tatr
  | tch
  | tch1
  | tch2
  | td
  | tdf
  | tdl
  | tdnl
  | tdp
  | tdul
  | th
  | th1
  | th2
  | tn
  | toc
  | toc1
  | toc2
  | toc3
  | toc4
  | toc5
  | tocau
  | tocbm
  | tocbmf
  | tocf
  | tocfm
  | tocfmf
  | tocpt
  | tocut
  | ul
  | ul1
  | ul1f
  | ul1l
  | ul1p
  | ul1pl
  | ul1s
  | ul2
  | ul2f
  | ul2l
  | ul2p
  | ul2s
  | ul3
  | ul3f
  | ul3l
  | ul3p
  | ul3s
  | ul4
  | ul4f
  | ul4l
  | ul4p
  | ul4s
  | ul5
  | ul5f
  | ul5l
  | ul5p
  | ul5s
  | ulf
  | ulh
  | ull
  | ulp
  | ulpl
  | uls
  | un
  | us
  | ut
  | video
  | wl
  | wl1
  | wl1f
  | wl1h
  | wl1h1
  | wl1l
  | wl1s
  | wl2
  | wl2f
  | wl2h
  | wl2h1
  | wl2l
  | wl2s
  | wl3
  | wl3f
  | wl3h
  | wl3h1
  | wl3l
  | wl3s
  | wlf
  | wlh
  | wlh1
  | wll
  | wls
  | wsh">

  <!ENTITY % character_styles
  "a
  | abbr
  | ac
  | b
  | bcv
  | bi
  | br
  | bu
  | bxhn
  | ccust1
  | ccust2
  | ccust3
  | chemb
  | code
  | code-b
  | code-bi
  | code-i
  | dcrit
  | dcrit-b
  | dcrit-bi
  | dcrit-i
  | dcrit-ob
  | dcrit-red
  | dispk
  | dispk-i
  | dropcap
  | dropcap-i
  | ennum
  | enref
  | exhn
  | fighn
  | first
  | first-i
  | fnnum
  | fnref
  | frac
  | frac-b
  | frac-bi
  | frac-i
  | grc
  | grc-b
  | grc-bi
  | grc-i
  | grc-u
  | gt
  | gt-i
  | gt-sm
  | gtref
  | gtref-i
  | gtref-sm
  | heb
  | heb-b
  | heb-bi
  | heb-i
  | heb-u
  | hemb
  | hl
  | hl-b
  | hl-bi
  | hl-i
  | hl-iu
  | hl-u
  | hn
  | i
  | idx
  | img
  | iu
  | lang
  | lang-b
  | lang-bi
  | lang-i
  | med
  | ob
  | osf
  | osf-b
  | osf-bi
  | osf-i
  | page
  | pnum
  | rc
  | red
  | red-b
  | red-bi
  | red-hl
  | red-hl-b
  | red-hl-bi
  | red-hl-i
  | red-hl-iu
  | red-hl-u
  | red-i
  | red-iu
  | red-ob
  | red-sm
  | red-sm-i
  | red-sm-ob
  | red-strk
  | red-strk-b
  | red-strk-bi
  | red-strk-i
  | red-strk-iu
  | red-strk-u
  | red-u
  | sbhn
  | sm
  | sm-b
  | sm-bi
  | sm-i
  | sm-ob
  | smver
  | speaker
  | speaker-i
  | strk
  | strk-b
  | strk-bi
  | strk-i
  | sub
  | sub-b
  | sub-bi
  | sub-i
  | sub-u
  | sup
  | sup-b
  | sup-bi
  | sup-i
  | sup-u
  | symb
  | symb-b
  | symb-i
  | symb-sub
  | symb-sub-b
  | symb-sub-bi
  | symb-sub-i
  | symb-sup
  | symb-sup-b
  | symb-sup-bi
  | symb-sup-i
  | taxclass
  | taxfamily
  | taxgenus
  | taxkingdom
  | taxorder
  | taxphylum
  | taxspecies
  | tel
  | tetr
  | tetr-b
  | tetr-bi
  | tetr-i
  | tetr-ob
  | tetr-red
  | tetr-red-i
  | tetr-red-ob
  | tgrc
  | tgrc-b
  | tgrc-bi
  | tgrc-i
  | theb
  | theb-i
  | theb-ob
  | theb-red
  | thn
  | trh
  | trh-i
  | u
  | url
  | url-b
  | url-bi
  | url-i
  | ver
  | ver-b
  | xbk
  | xbr
  | xref
  | xref-i">
<!-- ============================================================ -->
<!--                             Root                             -->
<!-- ============================================================ -->

  <!ELEMENT scml ( division+ | book )+ >
  <!ATTLIST scml
    %coreattrs;
    bver  CDATA  #IMPLIED
  >

<!-- ============================================================ -->
<!--                    Major Structure Styles                    -->
<!-- ============================================================ -->

  <!ELEMENT book ( chapter )+ >
  <!ATTLIST book
    %coreattrs;
  >

  <!ELEMENT chapter ( cover | (%block_styles; | %paragraph_styles;)+ ) >
  <!ATTLIST chapter
    %coreattrs;
  >

  <!ELEMENT division (book+) >
  <!ATTLIST division
    %coreattrs;
  >

<!-- ============================================================ -->
<!--                         Block Styles                         -->
<!-- ============================================================ -->

  <!ELEMENT blockquote ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST blockquote
    %coreattrs;
  >

  <!ELEMENT box ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST box
    %coreattrs;
  >

  <!ELEMENT codeline ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST codeline
    %coreattrs;
  >

  <!ELEMENT dialogue ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST dialogue
    %coreattrs;
  >

  <!ELEMENT endnote ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST endnote
    %coreattrs;
  >

  <!ELEMENT epigraph ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST epigraph
    %coreattrs;
  >

  <!ELEMENT equation ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST equation
    %coreattrs;
  >

  <!ELEMENT exercise ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST exercise
    %coreattrs;
  >

  <!ELEMENT figure ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST figure
    %coreattrs;
  >

  <!ELEMENT footnote ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST footnote
    %coreattrs;
  >

  <!ELEMENT glossary ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST glossary
    %coreattrs;
  >

  <!ELEMENT index ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST index
    %coreattrs;
  >

  <!ELEMENT letter ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST letter
    %coreattrs;
  >

  <!ELEMENT list ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST list
    %coreattrs;
  >

  <!ELEMENT media ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST media
    %coreattrs;
  >

  <!ELEMENT notes ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST notes
    %coreattrs;
  >

  <!ELEMENT pullquote ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST pullquote
    %coreattrs;
  >

  <!ELEMENT question ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST question
    %coreattrs;
  >

  <!ELEMENT recipe ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST recipe
    %coreattrs;
  >

  <!ELEMENT references ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST references
    %coreattrs;
  >

  <!ELEMENT senseline ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST senseline
    %coreattrs;
  >

  <!ELEMENT sidebar ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST sidebar
    %coreattrs;
  >

  <!ELEMENT story ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST story
    %coreattrs;
  >

  <!ELEMENT written ( %block_styles; | %paragraph_styles; )* >
  <!ATTLIST written
    %coreattrs;
  >

<!-- ============================================================ -->
<!--                 Specialized Structure Styles                 -->
<!-- ============================================================ -->

  <!ELEMENT cell (%block_styles; | %paragraph_styles;)* >
  <!ATTLIST cell
    %coreattrs;
    colspan  CDATA  #IMPLIED
    rowspan  CDATA  #IMPLIED
    align  CDATA  #IMPLIED
  >

  <!ELEMENT cover ( fig ) >
  <!ATTLIST cover
    %coreattrs;
  >

  <!ELEMENT table ( tr+ ) >
  <!ATTLIST table
    %coreattrs;
    width  CDATA  #IMPLIED
    style  CDATA  #IMPLIED
    border  CDATA  #IMPLIED
    orient  CDATA  #IMPLIED
  >

  <!ELEMENT tr ( cell+ ) >
  <!ATTLIST tr
    %coreattrs;
    align  CDATA  #IMPLIED
    valign  CDATA  #IMPLIED
  >

<!-- ============================================================ -->
<!--                       Paragraph Styles                       -->
<!-- ============================================================ -->

  <!ELEMENT ah ( #PCDATA | %character_styles; )* >
  <!ATTLIST ah
    %coreattrs;
  >

  <!ELEMENT ahaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST ahaft
    %coreattrs;
  >

  <!ELEMENT ans ( #PCDATA | %character_styles; )* >
  <!ATTLIST ans
    %coreattrs;
  >

  <!ELEMENT ansf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ansf
    %coreattrs;
  >

  <!ELEMENT ard ( #PCDATA | %character_styles; )* >
  <!ATTLIST ard
    %coreattrs;
  >

  <!ELEMENT au ( #PCDATA | %character_styles; )* >
  <!ATTLIST au
    %coreattrs;
  >

  <!ELEMENT au1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST au1
    %coreattrs;
  >

  <!ELEMENT aubio ( #PCDATA | %character_styles; )* >
  <!ATTLIST aubio
    %coreattrs;
  >

  <!ELEMENT aubiof ( #PCDATA | %character_styles; )* >
  <!ATTLIST aubiof
    %coreattrs;
  >

  <!ELEMENT audio ( #PCDATA | %character_styles; )* >
  <!ATTLIST audio
    %coreattrs;
  >

  <!ELEMENT bh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bh
    %coreattrs;
  >

  <!ELEMENT bhaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST bhaft
    %coreattrs;
  >

  <!ELEMENT bk ( #PCDATA | %character_styles; )* >
  <!ATTLIST bk
    %coreattrs;
    alt  CDATA  #IMPLIED
  >

  <!ELEMENT bk1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bk1
    %coreattrs;
  >

  <!ELEMENT bk2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bk2
    %coreattrs;
  >

  <!ELEMENT bkau ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkau
    %coreattrs;
  >

  <!ELEMENT bkau1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkau1
    %coreattrs;
  >

  <!ELEMENT bkht ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkht
    %coreattrs;
  >

  <!ELEMENT bkpub ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkpub
    %coreattrs;
  >

  <!ELEMENT bkpub1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bkpub1
    %coreattrs;
  >

  <!ELEMENT bksect ( #PCDATA | %character_styles; )* >
  <!ATTLIST bksect
    %coreattrs;
  >

  <!ELEMENT bl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl
    %coreattrs;
  >

  <!ELEMENT bl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1
    %coreattrs;
  >

  <!ELEMENT bl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1f
    %coreattrs;
  >

  <!ELEMENT bl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1l
    %coreattrs;
  >

  <!ELEMENT bl1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1p
    %coreattrs;
  >

  <!ELEMENT bl1pl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1pl
    %coreattrs;
  >

  <!ELEMENT bl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST bl1s
    %coreattrs;
  >

  <!ELEMENT blf ( #PCDATA | %character_styles; )* >
  <!ATTLIST blf
    %coreattrs;
  >

  <!ELEMENT blh ( #PCDATA | %character_styles; )* >
  <!ATTLIST blh
    %coreattrs;
  >

  <!ELEMENT bll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bll
    %coreattrs;
  >

  <!ELEMENT blp ( #PCDATA | %character_styles; )* >
  <!ATTLIST blp
    %coreattrs;
  >

  <!ELEMENT blpl ( #PCDATA | %character_styles; )* >
  <!ATTLIST blpl
    %coreattrs;
  >

  <!ELEMENT bls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bls
    %coreattrs;
  >

  <!ELEMENT bq ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq
    %coreattrs;
  >

  <!ELEMENT bq1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq1
    %coreattrs;
  >

  <!ELEMENT bq1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq1f
    %coreattrs;
  >

  <!ELEMENT bq1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq1l
    %coreattrs;
  >

  <!ELEMENT bq1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST bq1s
    %coreattrs;
  >

  <!ELEMENT bqaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqaft
    %coreattrs;
  >

  <!ELEMENT bqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqf
    %coreattrs;
  >

  <!ELEMENT bqh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqh
    %coreattrs;
  >

  <!ELEMENT bql ( #PCDATA | %character_styles; )* >
  <!ATTLIST bql
    %coreattrs;
  >

  <!ELEMENT bqnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqnl
    %coreattrs;
  >

  <!ELEMENT bqnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqnlf
    %coreattrs;
  >

  <!ELEMENT bqnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqnll
    %coreattrs;
  >

  <!ELEMENT bqnls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqnls
    %coreattrs;
  >

  <!ELEMENT bqo ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqo
    %coreattrs;
  >

  <!ELEMENT bqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqs
    %coreattrs;
  >

  <!ELEMENT bqt ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqt
    %coreattrs;
  >

  <!ELEMENT bqul ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqul
    %coreattrs;
  >

  <!ELEMENT bqulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqulf
    %coreattrs;
  >

  <!ELEMENT bqull ( #PCDATA | %character_styles; )* >
  <!ATTLIST bqull
    %coreattrs;
  >

  <!ELEMENT bquls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bquls
    %coreattrs;
  >

  <!ELEMENT bx ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx
    %coreattrs;
  >

  <!ELEMENT bx1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1
    %coreattrs;
  >

  <!ELEMENT bx1aft ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1aft
    %coreattrs;
  >

  <!ELEMENT bx1ah ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ah
    %coreattrs;
  >

  <!ELEMENT bx1bh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bh
    %coreattrs;
  >

  <!ELEMENT bx1bq ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bq
    %coreattrs;
  >

  <!ELEMENT bx1bqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bqf
    %coreattrs;
  >

  <!ELEMENT bx1bql ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bql
    %coreattrs;
  >

  <!ELEMENT bx1bqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1bqs
    %coreattrs;
  >

  <!ELEMENT bx1con ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1con
    %coreattrs;
  >

  <!ELEMENT bx1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1f
    %coreattrs;
  >

  <!ELEMENT bx1h ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1h
    %coreattrs;
  >

  <!ELEMENT bx1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1l
    %coreattrs;
  >

  <!ELEMENT bx1nl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1nl
    %coreattrs;
  >

  <!ELEMENT bx1nlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1nlf
    %coreattrs;
  >

  <!ELEMENT bx1nll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1nll
    %coreattrs;
  >

  <!ELEMENT bx1nlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1nlp
    %coreattrs;
  >

  <!ELEMENT bx1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1s
    %coreattrs;
  >

  <!ELEMENT bx1sl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1sl
    %coreattrs;
  >

  <!ELEMENT bx1slf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1slf
    %coreattrs;
  >

  <!ELEMENT bx1sll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1sll
    %coreattrs;
  >

  <!ELEMENT bx1t ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1t
    %coreattrs;
  >

  <!ELEMENT bx1ul ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ul
    %coreattrs;
  >

  <!ELEMENT bx1ulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ulf
    %coreattrs;
  >

  <!ELEMENT bx1ull ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ull
    %coreattrs;
  >

  <!ELEMENT bx1ulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST bx1ulp
    %coreattrs;
  >

  <!ELEMENT bxaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxaft
    %coreattrs;
  >

  <!ELEMENT bxah ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxah
    %coreattrs;
  >

  <!ELEMENT bxau ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxau
    %coreattrs;
  >

  <!ELEMENT bxau1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxau1
    %coreattrs;
  >

  <!ELEMENT bxbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbh
    %coreattrs;
  >

  <!ELEMENT bxbq ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbq
    %coreattrs;
  >

  <!ELEMENT bxbqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbqf
    %coreattrs;
  >

  <!ELEMENT bxbql ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbql
    %coreattrs;
  >

  <!ELEMENT bxbqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxbqs
    %coreattrs;
  >

  <!ELEMENT bxcon ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxcon
    %coreattrs;
  >

  <!ELEMENT bxf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxf
    %coreattrs;
  >

  <!ELEMENT bxh ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxh
    %coreattrs;
  >

  <!ELEMENT bxl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxl
    %coreattrs;
  >

  <!ELEMENT bxnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnl
    %coreattrs;
  >

  <!ELEMENT bxnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnlf
    %coreattrs;
  >

  <!ELEMENT bxnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnll
    %coreattrs;
  >

  <!ELEMENT bxnlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnlp
    %coreattrs;
  >

  <!ELEMENT bxnls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxnls
    %coreattrs;
  >

  <!ELEMENT bxo ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxo
    %coreattrs;
  >

  <!ELEMENT bxs ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxs
    %coreattrs;
  >

  <!ELEMENT bxsl ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxsl
    %coreattrs;
  >

  <!ELEMENT bxslf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxslf
    %coreattrs;
  >

  <!ELEMENT bxsll ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxsll
    %coreattrs;
  >

  <!ELEMENT bxt ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxt
    %coreattrs;
  >

  <!ELEMENT bxul ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxul
    %coreattrs;
  >

  <!ELEMENT bxulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxulf
    %coreattrs;
  >

  <!ELEMENT bxull ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxull
    %coreattrs;
  >

  <!ELEMENT bxulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxulp
    %coreattrs;
  >

  <!ELEMENT bxuls ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxuls
    %coreattrs;
  >

  <!ELEMENT call ( #PCDATA | %character_styles; )* >
  <!ATTLIST call
    %coreattrs;
  >

  <!ELEMENT ch ( #PCDATA | %character_styles; )* >
  <!ATTLIST ch
    %coreattrs;
  >

  <!ELEMENT chaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST chaft
    %coreattrs;
  >

  <!ELEMENT chsect ( #PCDATA | %character_styles; )* >
  <!ATTLIST chsect
    %coreattrs;
  >

  <!ELEMENT chsubsect ( #PCDATA | %character_styles; )* >
  <!ATTLIST chsubsect
    %coreattrs;
  >

  <!ELEMENT cip ( #PCDATA | %character_styles; )* >
  <!ATTLIST cip
    %coreattrs;
  >

  <!ELEMENT cip1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cip1
    %coreattrs;
  >

  <!ELEMENT cip2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cip2
    %coreattrs;
  >

  <!ELEMENT cipf ( #PCDATA | %character_styles; )* >
  <!ATTLIST cipf
    %coreattrs;
  >

  <!ELEMENT cipf1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cipf1
    %coreattrs;
  >

  <!ELEMENT cipl ( #PCDATA | %character_styles; )* >
  <!ATTLIST cipl
    %coreattrs;
  >

  <!ELEMENT cl ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl
    %coreattrs;
  >

  <!ELEMENT cl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl1
    %coreattrs;
  >

  <!ELEMENT cl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl1f
    %coreattrs;
  >

  <!ELEMENT cl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl1l
    %coreattrs;
  >

  <!ELEMENT cl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl1s
    %coreattrs;
  >

  <!ELEMENT cl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl2
    %coreattrs;
  >

  <!ELEMENT cl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl2f
    %coreattrs;
  >

  <!ELEMENT cl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl2l
    %coreattrs;
  >

  <!ELEMENT cl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl2s
    %coreattrs;
  >

  <!ELEMENT cl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl3
    %coreattrs;
  >

  <!ELEMENT cl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl3f
    %coreattrs;
  >

  <!ELEMENT cl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl3l
    %coreattrs;
  >

  <!ELEMENT cl3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST cl3s
    %coreattrs;
  >

  <!ELEMENT clf ( #PCDATA | %character_styles; )* >
  <!ATTLIST clf
    %coreattrs;
  >

  <!ELEMENT cll ( #PCDATA | %character_styles; )* >
  <!ATTLIST cll
    %coreattrs;
  >

  <!ELEMENT cls ( #PCDATA | %character_styles; )* >
  <!ATTLIST cls
    %coreattrs;
  >

  <!ELEMENT cn ( #PCDATA | %character_styles; )* >
  <!ATTLIST cn
    %coreattrs;
  >

  <!ELEMENT com ( #PCDATA | %character_styles; )* >
  <!ATTLIST com
    %coreattrs;
  >

  <!ELEMENT comp ( #PCDATA | %character_styles; )* >
  <!ATTLIST comp
    %coreattrs;
  >

  <!ELEMENT crt ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt
    %coreattrs;
  >

  <!ELEMENT crt1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt1
    %coreattrs;
  >

  <!ELEMENT crt1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt1f
    %coreattrs;
  >

  <!ELEMENT crt2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt2
    %coreattrs;
  >

  <!ELEMENT crt3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST crt3
    %coreattrs;
  >

  <!ELEMENT crtf ( #PCDATA | %character_styles; )* >
  <!ATTLIST crtf
    %coreattrs;
  >

  <!ELEMENT cs ( #PCDATA | %character_styles; )* >
  <!ATTLIST cs
    %coreattrs;
  >

  <!ELEMENT ct ( #PCDATA | %character_styles; )* >
  <!ATTLIST ct
    %coreattrs;
    alt  CDATA  #IMPLIED
  >

  <!ELEMENT ctbm ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctbm
    %coreattrs;
  >

  <!ELEMENT ctfm ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctfm
    %coreattrs;
  >

  <!ELEMENT ctoc ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctoc
    %coreattrs;
  >

  <!ELEMENT ctoc1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctoc1
    %coreattrs;
  >

  <!ELEMENT ctoch ( #PCDATA | %character_styles; )* >
  <!ATTLIST ctoch
    %coreattrs;
  >

  <!ELEMENT ded ( #PCDATA | %character_styles; )* >
  <!ATTLIST ded
    %coreattrs;
  >

  <!ELEMENT ded1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ded1
    %coreattrs;
  >

  <!ELEMENT ded1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ded1f
    %coreattrs;
  >

  <!ELEMENT dedf ( #PCDATA | %character_styles; )* >
  <!ATTLIST dedf
    %coreattrs;
  >

  <!ELEMENT dh ( #PCDATA | %character_styles; )* >
  <!ATTLIST dh
    %coreattrs;
  >

  <!ELEMENT dhaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST dhaft
    %coreattrs;
  >

  <!ELEMENT dia ( #PCDATA | %character_styles; )* >
  <!ATTLIST dia
    %coreattrs;
  >

  <!ELEMENT diaf ( #PCDATA | %character_styles; )* >
  <!ATTLIST diaf
    %coreattrs;
  >

  <!ELEMENT dial ( #PCDATA | %character_styles; )* >
  <!ATTLIST dial
    %coreattrs;
  >

  <!ELEMENT diap ( #PCDATA | %character_styles; )* >
  <!ATTLIST diap
    %coreattrs;
  >

  <!ELEMENT diapl ( #PCDATA | %character_styles; )* >
  <!ATTLIST diapl
    %coreattrs;
  >

  <!ELEMENT dias ( #PCDATA | %character_styles; )* >
  <!ATTLIST dias
    %coreattrs;
  >

  <!ELEMENT dl ( #PCDATA | %character_styles; )* >
  <!ATTLIST dl
    %coreattrs;
  >

  <!ELEMENT dl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST dl1
    %coreattrs;
  >

  <!ELEMENT dt ( #PCDATA | %character_styles; )* >
  <!ATTLIST dt
    %coreattrs;
  >

  <!ELEMENT dtsub ( #PCDATA | %character_styles; )* >
  <!ATTLIST dtsub
    %coreattrs;
  >

  <!ELEMENT eds ( #PCDATA | %character_styles; )* >
  <!ATTLIST eds
    %coreattrs;
  >

  <!ELEMENT eh ( #PCDATA | %character_styles; )* >
  <!ATTLIST eh
    %coreattrs;
  >

  <!ELEMENT ehaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST ehaft
    %coreattrs;
  >

  <!ELEMENT en ( #PCDATA | %character_styles; )* >
  <!ATTLIST en
    %coreattrs;
  >

  <!ELEMENT end ( #PCDATA | %character_styles; )* >
  <!ATTLIST end
    %coreattrs;
  >

  <!ELEMENT enhn ( #PCDATA | %character_styles; )* >
  <!ATTLIST enhn
    %coreattrs;
  >

  <!ELEMENT enp ( #PCDATA | %character_styles; )* >
  <!ATTLIST enp
    %coreattrs;
  >

  <!ELEMENT ep ( #PCDATA | %character_styles; )* >
  <!ATTLIST ep
    %coreattrs;
  >

  <!ELEMENT ep1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ep1
    %coreattrs;
  >

  <!ELEMENT ep2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ep2
    %coreattrs;
  >

  <!ELEMENT epaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST epaft
    %coreattrs;
  >

  <!ELEMENT epf ( #PCDATA | %character_styles; )* >
  <!ATTLIST epf
    %coreattrs;
  >

  <!ELEMENT epl ( #PCDATA | %character_styles; )* >
  <!ATTLIST epl
    %coreattrs;
  >

  <!ELEMENT eps ( #PCDATA | %character_styles; )* >
  <!ATTLIST eps
    %coreattrs;
  >

  <!ELEMENT epsl ( #PCDATA | %character_styles; )* >
  <!ATTLIST epsl
    %coreattrs;
  >

  <!ELEMENT epsl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST epsl1
    %coreattrs;
  >

  <!ELEMENT epslf ( #PCDATA | %character_styles; )* >
  <!ATTLIST epslf
    %coreattrs;
  >

  <!ELEMENT ept ( #PCDATA | %character_styles; )* >
  <!ATTLIST ept
    %coreattrs;
  >

  <!ELEMENT ept1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ept1
    %coreattrs;
  >

  <!ELEMENT eq ( #PCDATA | %character_styles; )* >
  <!ATTLIST eq
    %coreattrs;
  >

  <!ELEMENT eqaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST eqaft
    %coreattrs;
  >

  <!ELEMENT ex ( #PCDATA | %character_styles; )* >
  <!ATTLIST ex
    %coreattrs;
  >

  <!ELEMENT exaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST exaft
    %coreattrs;
  >

  <!ELEMENT exah ( #PCDATA | %character_styles; )* >
  <!ATTLIST exah
    %coreattrs;
  >

  <!ELEMENT exbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST exbh
    %coreattrs;
  >

  <!ELEMENT exf ( #PCDATA | %character_styles; )* >
  <!ATTLIST exf
    %coreattrs;
  >

  <!ELEMENT exh ( #PCDATA | %character_styles; )* >
  <!ATTLIST exh
    %coreattrs;
  >

  <!ELEMENT exl ( #PCDATA | %character_styles; )* >
  <!ATTLIST exl
    %coreattrs;
  >

  <!ELEMENT exnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl
    %coreattrs;
  >

  <!ELEMENT exnl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1
    %coreattrs;
  >

  <!ELEMENT exnl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1f
    %coreattrs;
  >

  <!ELEMENT exnl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1l
    %coreattrs;
  >

  <!ELEMENT exnl1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1p
    %coreattrs;
  >

  <!ELEMENT exnl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnl1s
    %coreattrs;
  >

  <!ELEMENT exnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnlf
    %coreattrs;
  >

  <!ELEMENT exnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnll
    %coreattrs;
  >

  <!ELEMENT exnlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnlp
    %coreattrs;
  >

  <!ELEMENT exnls ( #PCDATA | %character_styles; )* >
  <!ATTLIST exnls
    %coreattrs;
  >

  <!ELEMENT exs ( #PCDATA | %character_styles; )* >
  <!ATTLIST exs
    %coreattrs;
  >

  <!ELEMENT exul ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul
    %coreattrs;
  >

  <!ELEMENT exul1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1
    %coreattrs;
  >

  <!ELEMENT exul1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1f
    %coreattrs;
  >

  <!ELEMENT exul1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1l
    %coreattrs;
  >

  <!ELEMENT exul1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1p
    %coreattrs;
  >

  <!ELEMENT exul1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST exul1s
    %coreattrs;
  >

  <!ELEMENT exulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST exulf
    %coreattrs;
  >

  <!ELEMENT exull ( #PCDATA | %character_styles; )* >
  <!ATTLIST exull
    %coreattrs;
  >

  <!ELEMENT exulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST exulp
    %coreattrs;
  >

  <!ELEMENT exuls ( #PCDATA | %character_styles; )* >
  <!ATTLIST exuls
    %coreattrs;
  >

  <!ELEMENT fig ( #PCDATA | %character_styles; )* >
  <!ATTLIST fig
    %coreattrs;
  >

  <!ELEMENT figatr ( #PCDATA | %character_styles; )* >
  <!ATTLIST figatr
    %coreattrs;
  >

  <!ELEMENT figcap ( #PCDATA | %character_styles; )* >
  <!ATTLIST figcap
    %coreattrs;
  >

  <!ELEMENT figcap1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST figcap1
    %coreattrs;
  >

  <!ELEMENT figh ( #PCDATA | %character_styles; )* >
  <!ATTLIST figh
    %coreattrs;
  >

  <!ELEMENT figh1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST figh1
    %coreattrs;
  >

  <!ELEMENT fign ( #PCDATA | %character_styles; )* >
  <!ATTLIST fign
    %coreattrs;
  >

  <!ELEMENT fn ( #PCDATA | %character_styles; )* >
  <!ATTLIST fn
    %coreattrs;
  >

  <!ELEMENT fnp ( #PCDATA | %character_styles; )* >
  <!ATTLIST fnp
    %coreattrs;
  >

  <!ELEMENT fs ( #PCDATA | %character_styles; )* >
  <!ATTLIST fs
    %coreattrs;
  >

  <!ELEMENT glo ( #PCDATA | %character_styles; )* >
  <!ATTLIST glo
    %coreattrs;
  >

  <!ELEMENT glof ( #PCDATA | %character_styles; )* >
  <!ATTLIST glof
    %coreattrs;
  >

  <!ELEMENT hb ( #PCDATA | %character_styles; )* >
  <!ATTLIST hb
    %coreattrs;
  >

  <!ELEMENT hd ( #PCDATA | %character_styles; )* >
  <!ATTLIST hd
    %coreattrs;
  >

  <!ELEMENT hdn ( #PCDATA | %character_styles; )* >
  <!ATTLIST hdn
    %coreattrs;
  >

  <!ELEMENT hr EMPTY >
  <!ATTLIST hr
    %coreattrs;
  >

  <!ELEMENT in ( #PCDATA | %character_styles; )* >
  <!ATTLIST in
    %coreattrs;
  >

  <!ELEMENT in1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST in1
    %coreattrs;
  >

  <!ELEMENT in2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST in2
    %coreattrs;
  >

  <!ELEMENT in3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST in3
    %coreattrs;
  >

  <!ELEMENT inf ( #PCDATA | %character_styles; )* >
  <!ATTLIST inf
    %coreattrs;
  >

  <!ELEMENT inh ( #PCDATA | %character_styles; )* >
  <!ATTLIST inh
    %coreattrs;
  >

  <!ELEMENT inh1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST inh1
    %coreattrs;
  >

  <!ELEMENT inhn ( #PCDATA | %character_styles; )* >
  <!ATTLIST inhn
    %coreattrs;
  >

  <!ELEMENT lo ( #PCDATA | %character_styles; )* >
  <!ATTLIST lo
    %coreattrs;
  >

  <!ELEMENT lps ( #PCDATA | %character_styles; )* >
  <!ATTLIST lps
    %coreattrs;
  >

  <!ELEMENT lt ( #PCDATA | %character_styles; )* >
  <!ATTLIST lt
    %coreattrs;
  >

  <!ELEMENT lta ( #PCDATA | %character_styles; )* >
  <!ATTLIST lta
    %coreattrs;
  >

  <!ELEMENT ltaf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltaf
    %coreattrs;
  >

  <!ELEMENT ltc ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltc
    %coreattrs;
  >

  <!ELEMENT ltd ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltd
    %coreattrs;
  >

  <!ELEMENT ltdf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltdf
    %coreattrs;
  >

  <!ELEMENT ltf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltf
    %coreattrs;
  >

  <!ELEMENT ltg ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltg
    %coreattrs;
  >

  <!ELEMENT ltl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltl
    %coreattrs;
  >

  <!ELEMENT lto ( #PCDATA | %character_styles; )* >
  <!ATTLIST lto
    %coreattrs;
  >

  <!ELEMENT lts ( #PCDATA | %character_styles; )* >
  <!ATTLIST lts
    %coreattrs;
  >

  <!ELEMENT ltsig ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltsig
    %coreattrs;
  >

  <!ELEMENT ltsigf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltsigf
    %coreattrs;
  >

  <!ELEMENT ltsigl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltsigl
    %coreattrs;
  >

  <!ELEMENT ltsigs ( #PCDATA | %character_styles; )* >
  <!ATTLIST ltsigs
    %coreattrs;
  >

  <!ELEMENT mediaatr ( #PCDATA | %character_styles; )* >
  <!ATTLIST mediaatr
    %coreattrs;
  >

  <!ELEMENT mediacap ( #PCDATA | %character_styles; )* >
  <!ATTLIST mediacap
    %coreattrs;
  >

  <!ELEMENT mediah ( #PCDATA | %character_styles; )* >
  <!ATTLIST mediah
    %coreattrs;
  >

  <!ELEMENT nl ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl
    %coreattrs;
  >

  <!ELEMENT nl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1
    %coreattrs;
  >

  <!ELEMENT nl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1f
    %coreattrs;
  >

  <!ELEMENT nl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1l
    %coreattrs;
  >

  <!ELEMENT nl1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1p
    %coreattrs;
  >

  <!ELEMENT nl1pl ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1pl
    %coreattrs;
  >

  <!ELEMENT nl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl1s
    %coreattrs;
  >

  <!ELEMENT nl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2
    %coreattrs;
  >

  <!ELEMENT nl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2f
    %coreattrs;
  >

  <!ELEMENT nl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2l
    %coreattrs;
  >

  <!ELEMENT nl2p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2p
    %coreattrs;
  >

  <!ELEMENT nl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl2s
    %coreattrs;
  >

  <!ELEMENT nl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3
    %coreattrs;
  >

  <!ELEMENT nl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3f
    %coreattrs;
  >

  <!ELEMENT nl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3l
    %coreattrs;
  >

  <!ELEMENT nl3p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3p
    %coreattrs;
  >

  <!ELEMENT nl3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl3s
    %coreattrs;
  >

  <!ELEMENT nl4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4
    %coreattrs;
  >

  <!ELEMENT nl4f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4f
    %coreattrs;
  >

  <!ELEMENT nl4l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4l
    %coreattrs;
  >

  <!ELEMENT nl4p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4p
    %coreattrs;
  >

  <!ELEMENT nl4s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl4s
    %coreattrs;
  >

  <!ELEMENT nl5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5
    %coreattrs;
  >

  <!ELEMENT nl5f ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5f
    %coreattrs;
  >

  <!ELEMENT nl5l ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5l
    %coreattrs;
  >

  <!ELEMENT nl5p ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5p
    %coreattrs;
  >

  <!ELEMENT nl5s ( #PCDATA | %character_styles; )* >
  <!ATTLIST nl5s
    %coreattrs;
  >

  <!ELEMENT nlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST nlf
    %coreattrs;
  >

  <!ELEMENT nlh ( #PCDATA | %character_styles; )* >
  <!ATTLIST nlh
    %coreattrs;
  >

  <!ELEMENT nll ( #PCDATA | %character_styles; )* >
  <!ATTLIST nll
    %coreattrs;
  >

  <!ELEMENT nlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST nlp
    %coreattrs;
  >

  <!ELEMENT nlpl ( #PCDATA | %character_styles; )* >
  <!ATTLIST nlpl
    %coreattrs;
  >

  <!ELEMENT nls ( #PCDATA | %character_styles; )* >
  <!ATTLIST nls
    %coreattrs;
  >

  <!ELEMENT ntbq ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntbq
    %coreattrs;
  >

  <!ELEMENT ntbqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntbqf
    %coreattrs;
  >

  <!ELEMENT ntbql ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntbql
    %coreattrs;
  >

  <!ELEMENT ntbqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntbqs
    %coreattrs;
  >

  <!ELEMENT ntcon ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntcon
    %coreattrs;
  >

  <!ELEMENT nteq ( #PCDATA | %character_styles; )* >
  <!ATTLIST nteq
    %coreattrs;
  >

  <!ELEMENT ntnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnl
    %coreattrs;
  >

  <!ELEMENT ntnl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnl1
    %coreattrs;
  >

  <!ELEMENT ntnl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnl1f
    %coreattrs;
  >

  <!ELEMENT ntnl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnl1l
    %coreattrs;
  >

  <!ELEMENT ntnl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnl1s
    %coreattrs;
  >

  <!ELEMENT ntnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnlf
    %coreattrs;
  >

  <!ELEMENT ntnls ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnls
    %coreattrs;
  >

  <!ELEMENT ntnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntnll
    %coreattrs;
  >

  <!ELEMENT ntsl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntsl
    %coreattrs;
  >

  <!ELEMENT ntsl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntsl1
    %coreattrs;
  >

  <!ELEMENT ntsl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntsl1f
    %coreattrs;
  >

  <!ELEMENT ntsl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntsl1l
    %coreattrs;
  >

  <!ELEMENT ntsl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntsl1s
    %coreattrs;
  >

  <!ELEMENT ntslf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntslf
    %coreattrs;
  >

  <!ELEMENT ntsll ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntsll
    %coreattrs;
  >

  <!ELEMENT ntsls ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntsls
    %coreattrs;
  >

  <!ELEMENT nttd ( #PCDATA | %character_styles; )* >
  <!ATTLIST nttd
    %coreattrs;
  >

  <!ELEMENT ntul ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntul
    %coreattrs;
  >

  <!ELEMENT ntul1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntul1
    %coreattrs;
  >

  <!ELEMENT ntul1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntul1f
    %coreattrs;
  >

  <!ELEMENT ntul1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntul1l
    %coreattrs;
  >

  <!ELEMENT ntul1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntul1s
    %coreattrs;
  >

  <!ELEMENT ntulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntulf
    %coreattrs;
  >

  <!ELEMENT ntull ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntull
    %coreattrs;
  >

  <!ELEMENT ntuls ( #PCDATA | %character_styles; )* >
  <!ATTLIST ntuls
    %coreattrs;
  >

  <!ELEMENT opt ( #PCDATA | %character_styles; )* >
  <!ATTLIST opt
    %coreattrs;
  >

  <!ELEMENT p ( #PCDATA | %character_styles; )* >
  <!ATTLIST p
    %coreattrs;
  >

  <!ELEMENT paft ( #PCDATA | %character_styles; )* >
  <!ATTLIST paft
    %coreattrs;
  >

  <!ELEMENT patr ( #PCDATA | %character_styles; )* >
  <!ATTLIST patr
    %coreattrs;
  >

  <!ELEMENT patr1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST patr1
    %coreattrs;
  >

  <!ELEMENT pcon ( #PCDATA | %character_styles; )* >
  <!ATTLIST pcon
    %coreattrs;
  >

  <!ELEMENT pcust1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST pcust1
    %coreattrs;
  >

  <!ELEMENT pcust2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST pcust2
    %coreattrs;
  >

  <!ELEMENT pcust3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST pcust3
    %coreattrs;
  >

  <!ELEMENT pf ( #PCDATA | %character_styles; )* >
  <!ATTLIST pf
    %coreattrs;
  >

  <!ELEMENT pn ( #PCDATA | %character_styles; )* >
  <!ATTLIST pn
    %coreattrs;
  >

  <!ELEMENT ps ( #PCDATA | %character_styles; )* >
  <!ATTLIST ps
    %coreattrs;
  >

  <!ELEMENT psec ( #PCDATA | %character_styles; )* >
  <!ATTLIST psec
    %coreattrs;
  >

  <!ELEMENT psec1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST psec1
    %coreattrs;
  >

  <!ELEMENT pt ( #PCDATA | %character_styles; )* >
  <!ATTLIST pt
    %coreattrs;
    alt  CDATA  #IMPLIED
  >

  <!ELEMENT qu ( #PCDATA | %character_styles; )* >
  <!ATTLIST qu
    %coreattrs;
  >

  <!ELEMENT quf ( #PCDATA | %character_styles; )* >
  <!ATTLIST quf
    %coreattrs;
  >

  <!ELEMENT quh ( #PCDATA | %character_styles; )* >
  <!ATTLIST quh
    %coreattrs;
  >

  <!ELEMENT quot ( #PCDATA | %character_styles; )* >
  <!ATTLIST quot
    %coreattrs;
  >

  <!ELEMENT quotf ( #PCDATA | %character_styles; )* >
  <!ATTLIST quotf
    %coreattrs;
  >

  <!ELEMENT quotl ( #PCDATA | %character_styles; )* >
  <!ATTLIST quotl
    %coreattrs;
  >

  <!ELEMENT quots ( #PCDATA | %character_styles; )* >
  <!ATTLIST quots
    %coreattrs;
  >

  <!ELEMENT quott ( #PCDATA | %character_styles; )* >
  <!ATTLIST quott
    %coreattrs;
  >

  <!ELEMENT rb ( #PCDATA | %character_styles; )* >
  <!ATTLIST rb
    %coreattrs;
  >

  <!ELEMENT rbc ( #PCDATA | %character_styles; )* >
  <!ATTLIST rbc
    %coreattrs;
  >

  <!ELEMENT rbi ( #PCDATA | %character_styles; )* >
  <!ATTLIST rbi
    %coreattrs;
  >

  <!ELEMENT rf ( #PCDATA | %character_styles; )* >
  <!ATTLIST rf
    %coreattrs;
  >

  <!ELEMENT rf1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rf1
    %coreattrs;
  >

  <!ELEMENT rf2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rf2
    %coreattrs;
  >

  <!ELEMENT rff ( #PCDATA | %character_styles; )* >
  <!ATTLIST rff
    %coreattrs;
  >

  <!ELEMENT rp ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp
    %coreattrs;
  >

  <!ELEMENT rp1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp1
    %coreattrs;
  >

  <!ELEMENT rp1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp1f
    %coreattrs;
  >

  <!ELEMENT rp1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp1l
    %coreattrs;
  >

  <!ELEMENT rp1y ( #PCDATA | %character_styles; )* >
  <!ATTLIST rp1y
    %coreattrs;
  >

  <!ELEMENT rpah ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpah
    %coreattrs;
  >

  <!ELEMENT rpbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpbh
    %coreattrs;
  >

  <!ELEMENT rpch ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpch
    %coreattrs;
  >

  <!ELEMENT rpf ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpf
    %coreattrs;
  >

  <!ELEMENT rpg ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpg
    %coreattrs;
  >

  <!ELEMENT rpg1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpg1
    %coreattrs;
  >

  <!ELEMENT rph ( #PCDATA | %character_styles; )* >
  <!ATTLIST rph
    %coreattrs;
  >

  <!ELEMENT rph1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rph1
    %coreattrs;
  >

  <!ELEMENT rphn ( #PCDATA | %character_styles; )* >
  <!ATTLIST rphn
    %coreattrs;
  >

  <!ELEMENT rpil ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil
    %coreattrs;
  >

  <!ELEMENT rpil1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil1
    %coreattrs;
  >

  <!ELEMENT rpil1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil1f
    %coreattrs;
  >

  <!ELEMENT rpil1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil1l
    %coreattrs;
  >

  <!ELEMENT rpil1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpil1s
    %coreattrs;
  >

  <!ELEMENT rpilf ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpilf
    %coreattrs;
  >

  <!ELEMENT rpill ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpill
    %coreattrs;
  >

  <!ELEMENT rpils ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpils
    %coreattrs;
  >

  <!ELEMENT rpl ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpl
    %coreattrs;
  >

  <!ELEMENT rpn ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpn
    %coreattrs;
  >

  <!ELEMENT rpn1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpn1
    %coreattrs;
  >

  <!ELEMENT rpnut ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpnut
    %coreattrs;
  >

  <!ELEMENT rpnut1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpnut1
    %coreattrs;
  >

  <!ELEMENT rpt ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpt
    %coreattrs;
  >

  <!ELEMENT rpt1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpt1
    %coreattrs;
  >

  <!ELEMENT rpv ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv
    %coreattrs;
  >

  <!ELEMENT rpv1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv1
    %coreattrs;
  >

  <!ELEMENT rpv1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv1f
    %coreattrs;
  >

  <!ELEMENT rpv1h ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv1h
    %coreattrs;
  >

  <!ELEMENT rpv1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpv1l
    %coreattrs;
  >

  <!ELEMENT rpvf ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpvf
    %coreattrs;
  >

  <!ELEMENT rpvh ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpvh
    %coreattrs;
  >

  <!ELEMENT rpvl ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpvl
    %coreattrs;
  >

  <!ELEMENT rpy ( #PCDATA | %character_styles; )* >
  <!ATTLIST rpy
    %coreattrs;
  >

  <!ELEMENT rv ( #PCDATA | %character_styles; )* >
  <!ATTLIST rv
    %coreattrs;
  >

  <!ELEMENT rvd ( #PCDATA | %character_styles; )* >
  <!ATTLIST rvd
    %coreattrs;
  >

  <!ELEMENT rvh ( #PCDATA | %character_styles; )* >
  <!ATTLIST rvh
    %coreattrs;
  >

  <!ELEMENT rvt ( #PCDATA | %character_styles; )* >
  <!ATTLIST rvt
    %coreattrs;
  >

  <!ELEMENT sb ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb
    %coreattrs;
  >

  <!ELEMENT sb1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1
    %coreattrs;
  >

  <!ELEMENT sb1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1f
    %coreattrs;
  >

  <!ELEMENT sb1h ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1h
    %coreattrs;
  >

  <!ELEMENT sb1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1l
    %coreattrs;
  >

  <!ELEMENT sb1t ( #PCDATA | %character_styles; )* >
  <!ATTLIST sb1t
    %coreattrs;
  >

  <!ELEMENT sbaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbaft
    %coreattrs;
  >

  <!ELEMENT sbah ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbah
    %coreattrs;
  >

  <!ELEMENT sbahaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbahaft
    %coreattrs;
  >

  <!ELEMENT sbbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbh
    %coreattrs;
  >

  <!ELEMENT sbbhaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbhaft
    %coreattrs;
  >

  <!ELEMENT sbbl ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbl
    %coreattrs;
  >

  <!ELEMENT sbbl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbl1
    %coreattrs;
  >

  <!ELEMENT sbbl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbl1f
    %coreattrs;
  >

  <!ELEMENT sbbl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbl1l
    %coreattrs;
  >

  <!ELEMENT sbbl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbl1s
    %coreattrs;
  >

  <!ELEMENT sbblf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbblf
    %coreattrs;
  >

  <!ELEMENT sbbll ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbll
    %coreattrs;
  >

  <!ELEMENT sbbls ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbls
    %coreattrs;
  >

  <!ELEMENT sbbq ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbq
    %coreattrs;
  >

  <!ELEMENT sbbqaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbqaft
    %coreattrs;
  >

  <!ELEMENT sbbqf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbqf
    %coreattrs;
  >

  <!ELEMENT sbbql ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbql
    %coreattrs;
  >

  <!ELEMENT sbbqs ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbbqs
    %coreattrs;
  >

  <!ELEMENT sbcon ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbcon
    %coreattrs;
  >

  <!ELEMENT sbf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbf
    %coreattrs;
  >

  <!ELEMENT sbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbh
    %coreattrs;
  >

  <!ELEMENT sbl ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbl
    %coreattrs;
  >

  <!ELEMENT sbnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl
    %coreattrs;
  >

  <!ELEMENT sbnl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1
    %coreattrs;
  >

  <!ELEMENT sbnl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1f
    %coreattrs;
  >

  <!ELEMENT sbnl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1l
    %coreattrs;
  >

  <!ELEMENT sbnl1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1p
    %coreattrs;
  >

  <!ELEMENT sbnl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl1s
    %coreattrs;
  >

  <!ELEMENT sbnl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2
    %coreattrs;
  >

  <!ELEMENT sbnl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2f
    %coreattrs;
  >

  <!ELEMENT sbnl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2l
    %coreattrs;
  >

  <!ELEMENT sbnl2p ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2p
    %coreattrs;
  >

  <!ELEMENT sbnl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl2s
    %coreattrs;
  >

  <!ELEMENT sbnl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl3
    %coreattrs;
  >

  <!ELEMENT sbnl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl3f
    %coreattrs;
  >

  <!ELEMENT sbnl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl3l
    %coreattrs;
  >

  <!ELEMENT sbnl4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl4
    %coreattrs;
  >

  <!ELEMENT sbnl4f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl4f
    %coreattrs;
  >

  <!ELEMENT sbnl4l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl4l
    %coreattrs;
  >

  <!ELEMENT sbnl5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl5
    %coreattrs;
  >

  <!ELEMENT sbnl5f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl5f
    %coreattrs;
  >

  <!ELEMENT sbnl5l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnl5l
    %coreattrs;
  >

  <!ELEMENT sbnlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnlf
    %coreattrs;
  >

  <!ELEMENT sbnll ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnll
    %coreattrs;
  >

  <!ELEMENT sbnlp ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnlp
    %coreattrs;
  >

  <!ELEMENT sbnls ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbnls
    %coreattrs;
  >

  <!ELEMENT sbo ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbo
    %coreattrs;
  >

  <!ELEMENT sbs ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbs
    %coreattrs;
  >

  <!ELEMENT sbsl ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl
    %coreattrs;
  >

  <!ELEMENT sbsl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl1
    %coreattrs;
  >

  <!ELEMENT sbsl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl1f
    %coreattrs;
  >

  <!ELEMENT sbsl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl1l
    %coreattrs;
  >

  <!ELEMENT sbsl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl1s
    %coreattrs;
  >

  <!ELEMENT sbsl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl2
    %coreattrs;
  >

  <!ELEMENT sbsl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl2f
    %coreattrs;
  >

  <!ELEMENT sbsl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl2l
    %coreattrs;
  >

  <!ELEMENT sbsl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl2s
    %coreattrs;
  >

  <!ELEMENT sbsl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl3
    %coreattrs;
  >

  <!ELEMENT sbsl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl3f
    %coreattrs;
  >

  <!ELEMENT sbsl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl3l
    %coreattrs;
  >

  <!ELEMENT sbsl3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsl3s
    %coreattrs;
  >

  <!ELEMENT sbslf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbslf
    %coreattrs;
  >

  <!ELEMENT sbsli ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsli
    %coreattrs;
  >

  <!ELEMENT sbslif ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbslif
    %coreattrs;
  >

  <!ELEMENT sbslil ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbslil
    %coreattrs;
  >

  <!ELEMENT sbsll ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsll
    %coreattrs;
  >

  <!ELEMENT sbsls ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbsls
    %coreattrs;
  >

  <!ELEMENT sbslt ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbslt
    %coreattrs;
  >

  <!ELEMENT sbt ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbt
    %coreattrs;
  >

  <!ELEMENT sbul ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul
    %coreattrs;
  >

  <!ELEMENT sbul1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1
    %coreattrs;
  >

  <!ELEMENT sbul1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1f
    %coreattrs;
  >

  <!ELEMENT sbul1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1l
    %coreattrs;
  >

  <!ELEMENT sbul1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1p
    %coreattrs;
  >

  <!ELEMENT sbul1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul1s
    %coreattrs;
  >

  <!ELEMENT sbul2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2
    %coreattrs;
  >

  <!ELEMENT sbul2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2f
    %coreattrs;
  >

  <!ELEMENT sbul2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2l
    %coreattrs;
  >

  <!ELEMENT sbul2p ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2p
    %coreattrs;
  >

  <!ELEMENT sbul2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbul2s
    %coreattrs;
  >

  <!ELEMENT sbulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbulf
    %coreattrs;
  >

  <!ELEMENT sbull ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbull
    %coreattrs;
  >

  <!ELEMENT sbulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbulp
    %coreattrs;
  >

  <!ELEMENT sbuls ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbuls
    %coreattrs;
  >

  <!ELEMENT sec ( #PCDATA | %character_styles; )* >
  <!ATTLIST sec
    %coreattrs;
  >

  <!ELEMENT secbot ( #PCDATA | %character_styles; )* >
  <!ATTLIST secbot
    %coreattrs;
  >

  <!ELEMENT sectop ( #PCDATA | %character_styles; )* >
  <!ATTLIST sectop
    %coreattrs;
  >

  <!ELEMENT ser ( #PCDATA | %character_styles; )* >
  <!ATTLIST ser
    %coreattrs;
  >

  <!ELEMENT ser1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ser1
    %coreattrs;
  >

  <!ELEMENT ser2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ser2
    %coreattrs;
  >

  <!ELEMENT seraft ( #PCDATA | %character_styles; )* >
  <!ATTLIST seraft
    %coreattrs;
  >

  <!ELEMENT serah ( #PCDATA | %character_styles; )* >
  <!ATTLIST serah
    %coreattrs;
  >

  <!ELEMENT serahaft ( #PCDATA | %character_styles; )* >
  <!ATTLIST serahaft
    %coreattrs;
  >

  <!ELEMENT serau ( #PCDATA | %character_styles; )* >
  <!ATTLIST serau
    %coreattrs;
  >

  <!ELEMENT serbh ( #PCDATA | %character_styles; )* >
  <!ATTLIST serbh
    %coreattrs;
  >

  <!ELEMENT serf ( #PCDATA | %character_styles; )* >
  <!ATTLIST serf
    %coreattrs;
  >

  <!ELEMENT serp ( #PCDATA | %character_styles; )* >
  <!ATTLIST serp
    %coreattrs;
  >

  <!ELEMENT serpf ( #PCDATA | %character_styles; )* >
  <!ATTLIST serpf
    %coreattrs;
  >

  <!ELEMENT sers ( #PCDATA | %character_styles; )* >
  <!ATTLIST sers
    %coreattrs;
  >

  <!ELEMENT sert ( #PCDATA | %character_styles; )* >
  <!ATTLIST sert
    %coreattrs;
  >

  <!ELEMENT sh ( #PCDATA | %character_styles; )* >
  <!ATTLIST sh
    %coreattrs;
  >

  <!ELEMENT sl ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl
    %coreattrs;
  >

  <!ELEMENT sl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl1
    %coreattrs;
  >

  <!ELEMENT sl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl1f
    %coreattrs;
  >

  <!ELEMENT sl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl1l
    %coreattrs;
  >

  <!ELEMENT sl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl2
    %coreattrs;
  >

  <!ELEMENT sl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl2f
    %coreattrs;
  >

  <!ELEMENT sl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl2l
    %coreattrs;
  >

  <!ELEMENT sl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl3
    %coreattrs;
  >

  <!ELEMENT sl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl3f
    %coreattrs;
  >

  <!ELEMENT sl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl3l
    %coreattrs;
  >

  <!ELEMENT sl4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl4
    %coreattrs;
  >

  <!ELEMENT sl4f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl4f
    %coreattrs;
  >

  <!ELEMENT sl4l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl4l
    %coreattrs;
  >

  <!ELEMENT sl5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl5
    %coreattrs;
  >

  <!ELEMENT sl5f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl5f
    %coreattrs;
  >

  <!ELEMENT sl5l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl5l
    %coreattrs;
  >

  <!ELEMENT sl6 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl6
    %coreattrs;
  >

  <!ELEMENT sl6f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl6f
    %coreattrs;
  >

  <!ELEMENT sl6l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl6l
    %coreattrs;
  >

  <!ELEMENT sl7 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl7
    %coreattrs;
  >

  <!ELEMENT sl7f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl7f
    %coreattrs;
  >

  <!ELEMENT sl7l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl7l
    %coreattrs;
  >

  <!ELEMENT sl8 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl8
    %coreattrs;
  >

  <!ELEMENT sl8f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl8f
    %coreattrs;
  >

  <!ELEMENT sl8l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl8l
    %coreattrs;
  >

  <!ELEMENT sl9 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl9
    %coreattrs;
  >

  <!ELEMENT sl9f ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl9f
    %coreattrs;
  >

  <!ELEMENT sl9l ( #PCDATA | %character_styles; )* >
  <!ATTLIST sl9l
    %coreattrs;
  >

  <!ELEMENT slf ( #PCDATA | %character_styles; )* >
  <!ATTLIST slf
    %coreattrs;
  >

  <!ELEMENT slh ( #PCDATA | %character_styles; )* >
  <!ATTLIST slh
    %coreattrs;
  >

  <!ELEMENT sli ( #PCDATA | %character_styles; )* >
  <!ATTLIST sli
    %coreattrs;
  >

  <!ELEMENT slif ( #PCDATA | %character_styles; )* >
  <!ATTLIST slif
    %coreattrs;
  >

  <!ELEMENT slil ( #PCDATA | %character_styles; )* >
  <!ATTLIST slil
    %coreattrs;
  >

  <!ELEMENT sll ( #PCDATA | %character_styles; )* >
  <!ATTLIST sll
    %coreattrs;
  >

  <!ELEMENT sls ( #PCDATA | %character_styles; )* >
  <!ATTLIST sls
    %coreattrs;
  >

  <!ELEMENT slt ( #PCDATA | %character_styles; )* >
  <!ATTLIST slt
    %coreattrs;
  >

  <!ELEMENT st ( #PCDATA | %character_styles; )* >
  <!ATTLIST st
    %coreattrs;
  >

  <!ELEMENT staft ( #PCDATA | %character_styles; )* >
  <!ATTLIST staft
    %coreattrs;
  >

  <!ELEMENT stf ( #PCDATA | %character_styles; )* >
  <!ATTLIST stf
    %coreattrs;
  >

  <!ELEMENT sth ( #PCDATA | %character_styles; )* >
  <!ATTLIST sth
    %coreattrs;
  >

  <!ELEMENT sth1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sth1
    %coreattrs;
  >

  <!ELEMENT sth2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST sth2
    %coreattrs;
  >

  <!ELEMENT stl ( #PCDATA | %character_styles; )* >
  <!ATTLIST stl
    %coreattrs;
  >

  <!ELEMENT sto ( #PCDATA | %character_styles; )* >
  <!ATTLIST sto
    %coreattrs;
  >

  <!ELEMENT sts ( #PCDATA | %character_styles; )* >
  <!ATTLIST sts
    %coreattrs;
  >

  <!ELEMENT tatr ( #PCDATA | %character_styles; )* >
  <!ATTLIST tatr
    %coreattrs;
  >

  <!ELEMENT tch ( #PCDATA | %character_styles; )* >
  <!ATTLIST tch
    %coreattrs;
  >

  <!ELEMENT tch1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST tch1
    %coreattrs;
  >

  <!ELEMENT tch2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST tch2
    %coreattrs;
  >

  <!ELEMENT td ( #PCDATA | %character_styles; )* >
  <!ATTLIST td
    %coreattrs;
  >

  <!ELEMENT tdf ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdf
    %coreattrs;
  >

  <!ELEMENT tdl ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdl
    %coreattrs;
  >

  <!ELEMENT tdnl ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdnl
    %coreattrs;
  >

  <!ELEMENT tdp ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdp
    %coreattrs;
  >

  <!ELEMENT tdul ( #PCDATA | %character_styles; )* >
  <!ATTLIST tdul
    %coreattrs;
  >

  <!ELEMENT th ( #PCDATA | %character_styles; )* >
  <!ATTLIST th
    %coreattrs;
  >

  <!ELEMENT th1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST th1
    %coreattrs;
  >

  <!ELEMENT th2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST th2
    %coreattrs;
  >

  <!ELEMENT tn ( #PCDATA | %character_styles; )* >
  <!ATTLIST tn
    %coreattrs;
  >

  <!ELEMENT toc ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc
    %coreattrs;
  >

  <!ELEMENT toc1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc1
    %coreattrs;
  >

  <!ELEMENT toc2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc2
    %coreattrs;
  >

  <!ELEMENT toc3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc3
    %coreattrs;
  >

  <!ELEMENT toc4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc4
    %coreattrs;
  >

  <!ELEMENT toc5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST toc5
    %coreattrs;
  >

  <!ELEMENT tocau ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocau
    %coreattrs;
  >

  <!ELEMENT tocbm ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocbm
    %coreattrs;
  >

  <!ELEMENT tocbmf ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocbmf
    %coreattrs;
  >

  <!ELEMENT tocf ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocf
    %coreattrs;
  >

  <!ELEMENT tocfm ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocfm
    %coreattrs;
  >

  <!ELEMENT tocfmf ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocfmf
    %coreattrs;
  >

  <!ELEMENT tocpt ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocpt
    %coreattrs;
  >

  <!ELEMENT tocut ( #PCDATA | %character_styles; )* >
  <!ATTLIST tocut
    %coreattrs;
  >

  <!ELEMENT ul ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul
    %coreattrs;
  >

  <!ELEMENT ul1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1
    %coreattrs;
  >

  <!ELEMENT ul1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1f
    %coreattrs;
  >

  <!ELEMENT ul1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1l
    %coreattrs;
  >

  <!ELEMENT ul1p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1p
    %coreattrs;
  >

  <!ELEMENT ul1pl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1pl
    %coreattrs;
  >

  <!ELEMENT ul1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul1s
    %coreattrs;
  >

  <!ELEMENT ul2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2
    %coreattrs;
  >

  <!ELEMENT ul2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2f
    %coreattrs;
  >

  <!ELEMENT ul2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2l
    %coreattrs;
  >

  <!ELEMENT ul2p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2p
    %coreattrs;
  >

  <!ELEMENT ul2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul2s
    %coreattrs;
  >

  <!ELEMENT ul3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3
    %coreattrs;
  >

  <!ELEMENT ul3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3f
    %coreattrs;
  >

  <!ELEMENT ul3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3l
    %coreattrs;
  >

  <!ELEMENT ul3p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3p
    %coreattrs;
  >

  <!ELEMENT ul3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul3s
    %coreattrs;
  >

  <!ELEMENT ul4 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4
    %coreattrs;
  >

  <!ELEMENT ul4f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4f
    %coreattrs;
  >

  <!ELEMENT ul4l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4l
    %coreattrs;
  >

  <!ELEMENT ul4p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4p
    %coreattrs;
  >

  <!ELEMENT ul4s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul4s
    %coreattrs;
  >

  <!ELEMENT ul5 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5
    %coreattrs;
  >

  <!ELEMENT ul5f ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5f
    %coreattrs;
  >

  <!ELEMENT ul5l ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5l
    %coreattrs;
  >

  <!ELEMENT ul5p ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5p
    %coreattrs;
  >

  <!ELEMENT ul5s ( #PCDATA | %character_styles; )* >
  <!ATTLIST ul5s
    %coreattrs;
  >

  <!ELEMENT ulf ( #PCDATA | %character_styles; )* >
  <!ATTLIST ulf
    %coreattrs;
  >

  <!ELEMENT ulh ( #PCDATA | %character_styles; )* >
  <!ATTLIST ulh
    %coreattrs;
  >

  <!ELEMENT ull ( #PCDATA | %character_styles; )* >
  <!ATTLIST ull
    %coreattrs;
  >

  <!ELEMENT ulp ( #PCDATA | %character_styles; )* >
  <!ATTLIST ulp
    %coreattrs;
  >

  <!ELEMENT ulpl ( #PCDATA | %character_styles; )* >
  <!ATTLIST ulpl
    %coreattrs;
  >

  <!ELEMENT uls ( #PCDATA | %character_styles; )* >
  <!ATTLIST uls
    %coreattrs;
  >

  <!ELEMENT un ( #PCDATA | %character_styles; )* >
  <!ATTLIST un
    %coreattrs;
  >

  <!ELEMENT us ( #PCDATA | %character_styles; )* >
  <!ATTLIST us
    %coreattrs;
  >

  <!ELEMENT ut ( #PCDATA | %character_styles; )* >
  <!ATTLIST ut
    %coreattrs;
    alt  CDATA  #IMPLIED
  >

  <!ELEMENT video ( #PCDATA | %character_styles; )* >
  <!ATTLIST video
    %coreattrs;
  >

  <!ELEMENT wl ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl
    %coreattrs;
  >

  <!ELEMENT wl1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1
    %coreattrs;
  >

  <!ELEMENT wl1f ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1f
    %coreattrs;
  >

  <!ELEMENT wl1h ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1h
    %coreattrs;
  >

  <!ELEMENT wl1h1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1h1
    %coreattrs;
  >

  <!ELEMENT wl1l ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1l
    %coreattrs;
  >

  <!ELEMENT wl1s ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl1s
    %coreattrs;
  >

  <!ELEMENT wl2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2
    %coreattrs;
  >

  <!ELEMENT wl2f ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2f
    %coreattrs;
  >

  <!ELEMENT wl2h ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2h
    %coreattrs;
  >

  <!ELEMENT wl2h1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2h1
    %coreattrs;
  >

  <!ELEMENT wl2l ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2l
    %coreattrs;
  >

  <!ELEMENT wl2s ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl2s
    %coreattrs;
  >

  <!ELEMENT wl3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3
    %coreattrs;
  >

  <!ELEMENT wl3f ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3f
    %coreattrs;
  >

  <!ELEMENT wl3h ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3h
    %coreattrs;
  >

  <!ELEMENT wl3h1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3h1
    %coreattrs;
  >

  <!ELEMENT wl3l ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3l
    %coreattrs;
  >

  <!ELEMENT wl3s ( #PCDATA | %character_styles; )* >
  <!ATTLIST wl3s
    %coreattrs;
  >

  <!ELEMENT wlf ( #PCDATA | %character_styles; )* >
  <!ATTLIST wlf
    %coreattrs;
  >

  <!ELEMENT wlh ( #PCDATA | %character_styles; )* >
  <!ATTLIST wlh
    %coreattrs;
  >

  <!ELEMENT wlh1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST wlh1
    %coreattrs;
  >

  <!ELEMENT wll ( #PCDATA | %character_styles; )* >
  <!ATTLIST wll
    %coreattrs;
  >

  <!ELEMENT wls ( #PCDATA | %character_styles; )* >
  <!ATTLIST wls
    %coreattrs;
  >

  <!ELEMENT wsh ( #PCDATA | %character_styles; )* >
  <!ATTLIST wsh
    %coreattrs;
  >

<!-- ============================================================ -->
<!--                       Character Styles                       -->
<!-- ============================================================ -->

  <!ELEMENT a EMPTY >
  <!ATTLIST a
    %coreattrs;
  >

  <!ELEMENT abbr ( #PCDATA | %character_styles; )* >
  <!ATTLIST abbr
    %coreattrs;
  >

  <!ELEMENT ac ( #PCDATA | %character_styles; )* >
  <!ATTLIST ac
    %coreattrs;
  >

  <!ELEMENT b ( #PCDATA | %character_styles; )* >
  <!ATTLIST b
    %coreattrs;
  >

  <!ELEMENT bcv ( #PCDATA | %character_styles; )* >
  <!ATTLIST bcv
    %coreattrs;
  >

  <!ELEMENT bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST bi
    %coreattrs;
  >

  <!ELEMENT br EMPTY >
  <!ATTLIST br
    %coreattrs;
  >

  <!ELEMENT bu ( #PCDATA | %character_styles; )* >
  <!ATTLIST bu
    %coreattrs;
  >

  <!ELEMENT bxhn ( #PCDATA | %character_styles; )* >
  <!ATTLIST bxhn
    %coreattrs;
  >

  <!ELEMENT ccust1 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ccust1
    %coreattrs;
  >

  <!ELEMENT ccust2 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ccust2
    %coreattrs;
  >

  <!ELEMENT ccust3 ( #PCDATA | %character_styles; )* >
  <!ATTLIST ccust3
    %coreattrs;
  >

  <!ELEMENT chemb ( #PCDATA | %character_styles; )* >
  <!ATTLIST chemb
    %coreattrs;
  >

  <!ELEMENT code ( #PCDATA | %character_styles; )* >
  <!ATTLIST code
    %coreattrs;
  >

  <!ELEMENT code-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST code-b
    %coreattrs;
  >

  <!ELEMENT code-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST code-bi
    %coreattrs;
  >

  <!ELEMENT code-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST code-i
    %coreattrs;
  >

  <!ELEMENT dcrit ( #PCDATA | %character_styles; )* >
  <!ATTLIST dcrit
    %coreattrs;
  >

  <!ELEMENT dcrit-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST dcrit-b
    %coreattrs;
  >

  <!ELEMENT dcrit-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST dcrit-bi
    %coreattrs;
  >

  <!ELEMENT dcrit-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST dcrit-i
    %coreattrs;
  >

  <!ELEMENT dcrit-ob ( #PCDATA | %character_styles; )* >
  <!ATTLIST dcrit-ob
    %coreattrs;
  >

  <!ELEMENT dcrit-red ( #PCDATA | %character_styles; )* >
  <!ATTLIST dcrit-red
    %coreattrs;
  >

  <!ELEMENT dispk ( #PCDATA | %character_styles; )* >
  <!ATTLIST dispk
    %coreattrs;
  >

  <!ELEMENT dispk-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST dispk-i
    %coreattrs;
  >

  <!ELEMENT dropcap ( #PCDATA | %character_styles; )* >
  <!ATTLIST dropcap
    %coreattrs;
  >

  <!ELEMENT dropcap-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST dropcap-i
    %coreattrs;
  >

  <!ELEMENT ennum ( #PCDATA | %character_styles; )* >
  <!ATTLIST ennum
    %coreattrs;
  >

  <!ELEMENT enref ( #PCDATA | %character_styles; )* >
  <!ATTLIST enref
    %coreattrs;
    idref  IDREF  #IMPLIED
  >

  <!ELEMENT exhn ( #PCDATA | %character_styles; )* >
  <!ATTLIST exhn
    %coreattrs;
  >

  <!ELEMENT fighn ( #PCDATA | %character_styles; )* >
  <!ATTLIST fighn
    %coreattrs;
  >

  <!ELEMENT first ( #PCDATA | %character_styles; )* >
  <!ATTLIST first
    %coreattrs;
  >

  <!ELEMENT first-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST first-i
    %coreattrs;
  >

  <!ELEMENT fnnum ( #PCDATA | %character_styles; )* >
  <!ATTLIST fnnum
    %coreattrs;
  >

  <!ELEMENT fnref ( #PCDATA | %character_styles; )* >
  <!ATTLIST fnref
    %coreattrs;
    idref  IDREF  #IMPLIED
  >

  <!ELEMENT frac ( #PCDATA | %character_styles; )* >
  <!ATTLIST frac
    %coreattrs;
  >

  <!ELEMENT frac-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST frac-b
    %coreattrs;
  >

  <!ELEMENT frac-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST frac-bi
    %coreattrs;
  >

  <!ELEMENT frac-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST frac-i
    %coreattrs;
  >

  <!ELEMENT grc ( #PCDATA | %character_styles; )* >
  <!ATTLIST grc
    %coreattrs;
  >

  <!ELEMENT grc-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST grc-b
    %coreattrs;
  >

  <!ELEMENT grc-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST grc-bi
    %coreattrs;
  >

  <!ELEMENT grc-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST grc-i
    %coreattrs;
  >

  <!ELEMENT grc-u ( #PCDATA | %character_styles; )* >
  <!ATTLIST grc-u
    %coreattrs;
  >

  <!ELEMENT gt ( #PCDATA | %character_styles; )* >
  <!ATTLIST gt
    %coreattrs;
  >

  <!ELEMENT gt-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST gt-i
    %coreattrs;
  >

  <!ELEMENT gt-sm ( #PCDATA | %character_styles; )* >
  <!ATTLIST gt-sm
    %coreattrs;
  >

  <!ELEMENT gtref ( #PCDATA | %character_styles; )* >
  <!ATTLIST gtref
    %coreattrs;
    idref  IDREF  #IMPLIED
  >

  <!ELEMENT gtref-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST gtref-i
    %coreattrs;
    idref  IDREF  #IMPLIED
  >

  <!ELEMENT gtref-sm ( #PCDATA | %character_styles; )* >
  <!ATTLIST gtref-sm
    %coreattrs;
    idref  IDREF  #IMPLIED
  >

  <!ELEMENT heb ( #PCDATA | %character_styles; )* >
  <!ATTLIST heb
    %coreattrs;
  >

  <!ELEMENT heb-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST heb-b
    %coreattrs;
  >

  <!ELEMENT heb-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST heb-bi
    %coreattrs;
  >

  <!ELEMENT heb-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST heb-i
    %coreattrs;
  >

  <!ELEMENT heb-u ( #PCDATA | %character_styles; )* >
  <!ATTLIST heb-u
    %coreattrs;
  >

  <!ELEMENT hemb ( #PCDATA | %character_styles; )* >
  <!ATTLIST hemb
    %coreattrs;
  >

  <!ELEMENT hl ( #PCDATA | %character_styles; )* >
  <!ATTLIST hl
    %coreattrs;
  >

  <!ELEMENT hl-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST hl-b
    %coreattrs;
  >

  <!ELEMENT hl-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST hl-bi
    %coreattrs;
  >

  <!ELEMENT hl-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST hl-i
    %coreattrs;
  >

  <!ELEMENT hl-iu ( #PCDATA | %character_styles; )* >
  <!ATTLIST hl-iu
    %coreattrs;
  >

  <!ELEMENT hl-u ( #PCDATA | %character_styles; )* >
  <!ATTLIST hl-u
    %coreattrs;
  >

  <!ELEMENT hn ( #PCDATA | %character_styles; )* >
  <!ATTLIST hn
    %coreattrs;
  >

  <!ELEMENT i ( #PCDATA | %character_styles; )* >
  <!ATTLIST i
    %coreattrs;
  >

  <!ELEMENT idx ( #PCDATA | %character_styles; )* >
  <!ATTLIST idx
    %coreattrs;
    term  CDATA  #IMPLIED
    level1  CDATA  #IMPLIED
    level2  CDATA  #IMPLIED
    level3  CDATA  #IMPLIED
  >

  <!ELEMENT img EMPTY >
  <!ATTLIST img
    %coreattrs;
    src  CDATA  #REQUIRED
    alt  CDATA  #IMPLIED
    height  CDATA  #IMPLIED
    width  CDATA  #IMPLIED
  >

  <!ELEMENT iu ( #PCDATA | %character_styles; )* >
  <!ATTLIST iu
    %coreattrs;
  >

  <!ELEMENT lang ( #PCDATA | %character_styles; )* >
  <!ATTLIST lang
    %coreattrs;
  >

  <!ELEMENT lang-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST lang-b
    %coreattrs;
  >

  <!ELEMENT lang-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST lang-bi
    %coreattrs;
  >

  <!ELEMENT lang-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST lang-i
    %coreattrs;
  >

  <!ELEMENT med ( #PCDATA | %character_styles; )* >
  <!ATTLIST med
    %coreattrs;
  >

  <!ELEMENT ob ( #PCDATA | %character_styles; )* >
  <!ATTLIST ob
    %coreattrs;
  >

  <!ELEMENT osf ( #PCDATA | %character_styles; )* >
  <!ATTLIST osf
    %coreattrs;
  >

  <!ELEMENT osf-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST osf-b
    %coreattrs;
  >

  <!ELEMENT osf-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST osf-bi
    %coreattrs;
  >

  <!ELEMENT osf-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST osf-i
    %coreattrs;
  >

  <!ELEMENT page EMPTY >
  <!ATTLIST page
    %coreattrs;
    locator  CDATA  #IMPLIED
  >

  <!ELEMENT pnum ( #PCDATA | %character_styles; )* >
  <!ATTLIST pnum
    %coreattrs;
  >

  <!ELEMENT rc ( #PCDATA | %character_styles; )* >
  <!ATTLIST rc
    %coreattrs;
  >

  <!ELEMENT red ( #PCDATA | %character_styles; )* >
  <!ATTLIST red
    %coreattrs;
  >

  <!ELEMENT red-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-b
    %coreattrs;
  >

  <!ELEMENT red-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-bi
    %coreattrs;
  >

  <!ELEMENT red-hl ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-hl
    %coreattrs;
  >

  <!ELEMENT red-hl-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-hl-b
    %coreattrs;
  >

  <!ELEMENT red-hl-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-hl-bi
    %coreattrs;
  >

  <!ELEMENT red-hl-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-hl-i
    %coreattrs;
  >

  <!ELEMENT red-hl-iu ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-hl-iu
    %coreattrs;
  >

  <!ELEMENT red-hl-u ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-hl-u
    %coreattrs;
  >

  <!ELEMENT red-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-i
    %coreattrs;
  >

  <!ELEMENT red-iu ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-iu
    %coreattrs;
  >

  <!ELEMENT red-ob ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-ob
    %coreattrs;
  >

  <!ELEMENT red-sm ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-sm
    %coreattrs;
  >

  <!ELEMENT red-sm-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-sm-i
    %coreattrs;
  >

  <!ELEMENT red-sm-ob ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-sm-ob
    %coreattrs;
  >

  <!ELEMENT red-strk ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-strk
    %coreattrs;
  >

  <!ELEMENT red-strk-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-strk-b
    %coreattrs;
  >

  <!ELEMENT red-strk-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-strk-bi
    %coreattrs;
  >

  <!ELEMENT red-strk-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-strk-i
    %coreattrs;
  >

  <!ELEMENT red-strk-iu ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-strk-iu
    %coreattrs;
  >

  <!ELEMENT red-strk-u ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-strk-u
    %coreattrs;
  >

  <!ELEMENT red-u ( #PCDATA | %character_styles; )* >
  <!ATTLIST red-u
    %coreattrs;
  >

  <!ELEMENT sbhn ( #PCDATA | %character_styles; )* >
  <!ATTLIST sbhn
    %coreattrs;
  >

  <!ELEMENT sm ( #PCDATA | %character_styles; )* >
  <!ATTLIST sm
    %coreattrs;
  >

  <!ELEMENT sm-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST sm-b
    %coreattrs;
  >

  <!ELEMENT sm-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST sm-bi
    %coreattrs;
  >

  <!ELEMENT sm-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST sm-i
    %coreattrs;
  >

  <!ELEMENT sm-ob ( #PCDATA | %character_styles; )* >
  <!ATTLIST sm-ob
    %coreattrs;
  >

  <!ELEMENT smver ( #PCDATA | %character_styles; )* >
  <!ATTLIST smver
    %coreattrs;
  >

  <!ELEMENT speaker ( #PCDATA | %character_styles; )* >
  <!ATTLIST speaker
    %coreattrs;
  >

  <!ELEMENT speaker-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST speaker-i
    %coreattrs;
  >

  <!ELEMENT strk ( #PCDATA | %character_styles; )* >
  <!ATTLIST strk
    %coreattrs;
  >

  <!ELEMENT strk-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST strk-b
    %coreattrs;
  >

  <!ELEMENT strk-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST strk-bi
    %coreattrs;
  >

  <!ELEMENT strk-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST strk-i
    %coreattrs;
  >

  <!ELEMENT sub ( #PCDATA | %character_styles; )* >
  <!ATTLIST sub
    %coreattrs;
  >

  <!ELEMENT sub-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST sub-b
    %coreattrs;
  >

  <!ELEMENT sub-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST sub-bi
    %coreattrs;
  >

  <!ELEMENT sub-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST sub-i
    %coreattrs;
  >

  <!ELEMENT sub-u ( #PCDATA | %character_styles; )* >
  <!ATTLIST sub-u
    %coreattrs;
  >

  <!ELEMENT sup ( #PCDATA | %character_styles; )* >
  <!ATTLIST sup
    %coreattrs;
  >

  <!ELEMENT sup-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST sup-b
    %coreattrs;
  >

  <!ELEMENT sup-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST sup-bi
    %coreattrs;
  >

  <!ELEMENT sup-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST sup-i
    %coreattrs;
  >

  <!ELEMENT sup-u ( #PCDATA | %character_styles; )* >
  <!ATTLIST sup-u
    %coreattrs;
  >

  <!ELEMENT symb ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb
    %coreattrs;
  >

  <!ELEMENT symb-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-b
    %coreattrs;
  >

  <!ELEMENT symb-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-i
    %coreattrs;
  >

  <!ELEMENT symb-sub ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-sub
    %coreattrs;
  >

  <!ELEMENT symb-sub-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-sub-b
    %coreattrs;
  >

  <!ELEMENT symb-sub-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-sub-bi
    %coreattrs;
  >

  <!ELEMENT symb-sub-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-sub-i
    %coreattrs;
  >

  <!ELEMENT symb-sup ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-sup
    %coreattrs;
  >

  <!ELEMENT symb-sup-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-sup-b
    %coreattrs;
  >

  <!ELEMENT symb-sup-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-sup-bi
    %coreattrs;
  >

  <!ELEMENT symb-sup-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST symb-sup-i
    %coreattrs;
  >

  <!ELEMENT taxclass ( #PCDATA | %character_styles; )* >
  <!ATTLIST taxclass
    %coreattrs;
  >

  <!ELEMENT taxfamily ( #PCDATA | %character_styles; )* >
  <!ATTLIST taxfamily
    %coreattrs;
  >

  <!ELEMENT taxgenus ( #PCDATA | %character_styles; )* >
  <!ATTLIST taxgenus
    %coreattrs;
  >

  <!ELEMENT taxkingdom ( #PCDATA | %character_styles; )* >
  <!ATTLIST taxkingdom
    %coreattrs;
  >

  <!ELEMENT taxorder ( #PCDATA | %character_styles; )* >
  <!ATTLIST taxorder
    %coreattrs;
  >

  <!ELEMENT taxphylum ( #PCDATA | %character_styles; )* >
  <!ATTLIST taxphylum
    %coreattrs;
  >

  <!ELEMENT taxspecies ( #PCDATA | %character_styles; )* >
  <!ATTLIST taxspecies
    %coreattrs;
  >

  <!ELEMENT tel ( #PCDATA | %character_styles; )* >
  <!ATTLIST tel
    %coreattrs;
  >

  <!ELEMENT tetr ( #PCDATA | %character_styles; )* >
  <!ATTLIST tetr
    %coreattrs;
  >

  <!ELEMENT tetr-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST tetr-b
    %coreattrs;
  >

  <!ELEMENT tetr-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST tetr-bi
    %coreattrs;
  >

  <!ELEMENT tetr-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST tetr-i
    %coreattrs;
  >

  <!ELEMENT tetr-ob ( #PCDATA | %character_styles; )* >
  <!ATTLIST tetr-ob
    %coreattrs;
  >

  <!ELEMENT tetr-red ( #PCDATA | %character_styles; )* >
  <!ATTLIST tetr-red
    %coreattrs;
  >

  <!ELEMENT tetr-red-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST tetr-red-i
    %coreattrs;
  >

  <!ELEMENT tetr-red-ob ( #PCDATA | %character_styles; )* >
  <!ATTLIST tetr-red-ob
    %coreattrs;
  >

  <!ELEMENT tgrc ( #PCDATA | %character_styles; )* >
  <!ATTLIST tgrc
    %coreattrs;
  >

  <!ELEMENT tgrc-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST tgrc-b
    %coreattrs;
  >

  <!ELEMENT tgrc-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST tgrc-bi
    %coreattrs;
  >

  <!ELEMENT tgrc-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST tgrc-i
    %coreattrs;
  >

  <!ELEMENT theb ( #PCDATA | %character_styles; )* >
  <!ATTLIST theb
    %coreattrs;
  >

  <!ELEMENT theb-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST theb-i
    %coreattrs;
  >

  <!ELEMENT theb-ob ( #PCDATA | %character_styles; )* >
  <!ATTLIST theb-ob
    %coreattrs;
  >

  <!ELEMENT theb-red ( #PCDATA | %character_styles; )* >
  <!ATTLIST theb-red
    %coreattrs;
  >

  <!ELEMENT thn ( #PCDATA | %character_styles; )* >
  <!ATTLIST thn
    %coreattrs;
  >

  <!ELEMENT trh ( #PCDATA | %character_styles; )* >
  <!ATTLIST trh
    %coreattrs;
  >

  <!ELEMENT trh-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST trh-i
    %coreattrs;
  >

  <!ELEMENT u ( #PCDATA | %character_styles; )* >
  <!ATTLIST u
    %coreattrs;
  >

  <!ELEMENT url ( #PCDATA | %character_styles; )* >
  <!ATTLIST url
    %coreattrs;
    href  CDATA  #IMPLIED
  >

  <!ELEMENT url-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST url-b
    %coreattrs;
    href  CDATA  #IMPLIED
  >

  <!ELEMENT url-bi ( #PCDATA | %character_styles; )* >
  <!ATTLIST url-bi
    %coreattrs;
    href  CDATA  #IMPLIED
  >

  <!ELEMENT url-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST url-i
    %coreattrs;
    href  CDATA  #IMPLIED
  >

  <!ELEMENT ver ( #PCDATA | %character_styles; )* >
  <!ATTLIST ver
    %coreattrs;
  >

  <!ELEMENT ver-b ( #PCDATA | %character_styles; )* >
  <!ATTLIST ver-b
    %coreattrs;
  >

  <!ELEMENT xbk ( #PCDATA | %character_styles; )* >
  <!ATTLIST xbk
    %coreattrs;
    idref  IDREF  #IMPLIED
  >

  <!ELEMENT xbr ( #PCDATA | %character_styles; )* >
  <!ATTLIST xbr
    %coreattrs;
    t  CDATA  #IMPLIED
  >

  <!ELEMENT xref ( #PCDATA | %character_styles; )* >
  <!ATTLIST xref
    %coreattrs;
    idref  IDREF  #IMPLIED
  >

  <!ELEMENT xref-i ( #PCDATA | %character_styles; )* >
  <!ATTLIST xref-i
    %coreattrs;
    idref  IDREF  #IMPLIED
  >


